{% extends "base.html" %}

{% block main %}
<br/><br/>
<font color="#333333" size="5"><b>Your Invitation Has Arrived.</b></font>
<font color="#666666" size="3">
<br/><br/>
You're now all set for early access to the private Hiptype beta:
<br/><br/>
http://www.hiptype.com/login?email={{ email }}&code=quirkyopus
{% if False %}
<br/><br/>
Once logged in, you can create a new book project and preview example data. You can access the analytics plugin by entering your credit card information. Your card will not be charged until the plugin is deployed in your book and collecting live data. 
{% end %}
<br/><br/>
</font>
{% end %}
{% block footer %}{% end %}