Hey - thanks for signing up with Passtiche! <br/><br/>
Let me know if you've got any questions or requests for your account. We'll send your invite as soon as possible.
<br/><br/>
{% if False %}
For now, we can get started preparing for your account if you complete the short survey embedded below and available online at https://docs.google.com/spreadsheet/viewform?fromEmail=true&formkey=dHZ2d2piZ0NuMWcwWEl6Y0d0VnZDSEE6MQ
<br/><br/>
{% end %}
warm regards,<br/><br/>
<font color="#666666" size="1">James Levy<br/><a href="mailto:james@hiptype.com">james@passtiche.com<br/><a href="tel:9255266389">1 (925) 526-5389</a></font>
<br/><br/><br/>
{% if False %}
<form action="https://docs.google.com/spreadsheet/formResponse?formkey=dHZ2d2piZ0NuMWcwWEl6Y0d0VnZDSEE6MQ&amp;ifq" method="POST" target="_blank" onsubmit="return window.confirm(&quot;You are submitting information to an external page.\nAre you sure?&quot;);">
<input type="hidden" name="fromEmail" value="true">

<br>
<div>
<div><div style="margin-bottom:1.5em;zoom:1"><label style="display:block;font-weight:bold">Name
</label>
<label style="display:block;color:#666;margin:.1em 0 .25em 0"></label>
<input type="text" name="entry.0.single" value=""></div></div></div>
<br> <div>
<div><div style="margin-bottom:1.5em;zoom:1"><label style="display:block;font-weight:bold">Email
</label>
<label style="display:block;color:#666;margin:.1em 0 .25em 0"></label>
<input type="text" name="entry.1.single" value=""></div></div></div>
<br> <div>
<div><div style="margin-bottom:1.5em;zoom:1"><label style="display:block;font-weight:bold">eBook platforms
</label>
<label style="display:block;color:#666;margin:.1em 0 .25em 0">Which eBook platforms are you publishing with?</label>
<ul style="list-style:none;margin:.5em 0 0 0;padding:0"><li style="margin:0;line-height:1.3em;padding-bottom:.5em"><label><input type="checkbox" name="entry.3.group" value="Kindle">
Kindle</label></li> <li style="margin:0;line-height:1.3em;padding-bottom:.5em"><label><input type="checkbox" name="entry.3.group" value="Nook">
Nook</label></li> <li style="margin:0;line-height:1.3em;padding-bottom:.5em"><label><input type="checkbox" name="entry.3.group" value="iBooks">
iBooks</label></li> <li style="margin:0;line-height:1.3em;padding-bottom:.5em"><label><input type="checkbox" name="entry.3.group" value="PDF">
PDF</label></li> <li style="margin:0;line-height:1.3em;padding-bottom:.5em"><label><input type="checkbox" name="entry.3.group" value="Online">
Online</label></li>
<li style="margin:0;line-height:1.3em;padding-bottom:.5em"><input type="checkbox" name="entry.3.group" value="__option__">
<label>Other:</label>
<input type="text" name="entry.3.group.other_option_" value=""></li></ul></div></div></div>
<br> <div>
<div><div style="margin-bottom:1.5em;zoom:1"><label style="display:block;font-weight:bold">About You
</label>
<label style="display:block;color:#666;margin:.1em 0 .25em 0">Tell us a bit about yourself.</label>
<ul style="list-style:none;margin:.5em 0 0 0;padding:0"><li style="margin:0;line-height:1.3em;padding-bottom:.5em"><label><input type="radio" name="entry.4.group" value="I'm an author with a publisher">
I'm an author with a publisher</label></li> <li style="margin:0;line-height:1.3em;padding-bottom:.5em"><label><input type="radio" name="entry.4.group" value="I'm a self-published author">
I'm a self-published author</label></li> <li style="margin:0;line-height:1.3em;padding-bottom:.5em"><label><input type="radio" name="entry.4.group" value="I'm with a large publisher">
I'm with a large publisher</label></li> <li style="margin:0;line-height:1.3em;padding-bottom:.5em"><label><input type="radio" name="entry.4.group" value="I'm with a medium-sized or small publisher">
I'm with a medium-sized or small publisher</label></li>
<li style="margin:0;line-height:1.3em;padding-bottom:.5em"><input type="radio" name="entry.4.group" value="__option__">
<label>Other:</label>
<input type="text" name="entry.4.group.other_option_" value=""></li></ul></div></div></div>
<br> <div>
<div><div style="margin-bottom:1.5em;zoom:1"><label style="display:block;font-weight:bold">How do you plan on using Hiptype?
</label>
<label style="display:block;color:#666;margin:.1em 0 .25em 0">Describe which of your titles you want to use with the Hiptype analytics plugin.</label>
<textarea name="entry.2.single" rows="8" cols="75" style="max-width:90%"></textarea></div></div></div>
<br>
<input type="hidden" name="pageNumber" value="0">
<input type="hidden" name="backupCache">


<div><div style="margin-bottom:1.5em;zoom:1">
<input type="submit" name="submit" value="Submit"></div></div></form>
{% end %}
