				<div data-role="footer" class="nav-glyphish-example">		
					<div data-role="navbar" >
						<ul>
						<li><a href="#all_passes" id="all_passes_link" data-icon="custom" {% if page == "all_passes" %}class="ui-btn-active ui-state-persist"{% end %}>Popular Passes</a></li>
							<li><a href="#new_pass" id="new_pass_link" data-icon="custom" {% if page == "new_pass" %}class="ui-btn-active ui-state-persist"{% end %}>New Pass</a></li>
							<li><a href="#my_passes" id="my_passes_link" data-icon="custom" {% if page == "my_passes" %}class="ui-btn-active ui-state-persist"{% end %}>My passes</a></li>

						</ul>
					</div><!-- /navbar -->
		</div><!-- /footer -->

