t
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CakePass</title>
		
		<link rel="stylesheet" href="http://jquerymobile.com/demos/1.2.0-rc.2/css/themes/default/jquery.mobile-1.2.0-rc.2.css" />
		<!--<link rel="stylesheet" href="themes/BlueGray.min.css" />-->
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="http://jquerymobile.com/demos/1.2.0-rc.2/js/jquery.mobile-1.2.0-rc.2.js"></script>
		<style>

			{% include "index.css" %}

		</style>

		<script>

			{% include "js/index.js" %}

		</script>
	</head>
	<body>


		{% include "intro.html" %}


		{% include "all_passes.html" %}



		{% include "new_pass.html" %}


		{% include "my_passes.html" %}







	</body>
</html>