

		<!-- Intro -->
		{% set page = "intro" %}
		<div data-role="page" data-theme="c" id="intro">

				<div data-role="header" data-position="inline" data-theme="d">
					<h1><span style="font-size:1.4em;"><img src="/static/images/cake_logo.png" style='position:absolute;margin:-9px -44px;height:40px;'/> CakePass</span> </h1>
				</div>


				<div data-role="content" >

					<div>Intro to CakePass - easy to send iOS passes to your friends</div>
					<div>A few examples</div>
					<div><button>Get Started</button></div>
					
				<!--	
					<div id="sequence">
						<div><h1>Take screenshot of bug or privacy issue</h1></div>
						<div><h1>Upload screensho to cakepass</h1></div>
						<div><h1>Earn passbook rewards when it is verified</h1></div>
					</div>

					<button>Try tutorial - walks through screenshots of privacy/bugs and passes</button> 

				-->

<!--
					<p>This is content color swatch "A" and a ppass of a <a href="#" class="ui-link">link</a>.</p>
					<label for="slider1">Input slider:</label>
					<input type="range" name="slider1" id="slider1" value="50" min="0" max="100"/>
					<fieldset data-role="controlgroup"  data-type="horizontal" data-role="fieldcontain">
					<legend>Cache settings:</legend>
					<input type="radio" name="radio-choice-a1" id="radio-choice-a1" value="on" checked="checked" />
					<label for="radio-choice-a1">On</label>
					<input type="radio" name="radio-choice-a1" id="radio-choice-b1" value="off"  />
					<label for="radio-choice-b1">Off</label>
					</fieldset>

				-->

				</div>


		

				{% include "footer.html" %}


</div> <!-- end page -->