<fieldset data-role="controlgroup" data-mini="true">
	
<div data-role="collapsible" data-collapsed="false" data-theme="e" data-content-theme="c" data-mini="true">
			<h3>Pass Settings</h3>
	
	<div style="margin:-10px 0;">
			<div data-role="collapsible" data-theme="c" data-content-theme="c" data-mini="true" >
				<h3 style="">Pass Theme <span style="font-size:.8em; color:rgba(100,100,100,.4);">- Is there a reason you are sharing this pass?
</span></h3>
				
				   <div>

    	<input type="radio" name="pass-theme" id="pass-theme-1" value="birthday" checked="checked" />
    	<label for="pass-theme-1">Birthday</label>

	<input type="radio" name="pass-theme" id="pass-theme-2" value="christmas"  />
    	<label for="pass-theme-2">Christmas</label>
    	
    	<input type="radio" name="pass-theme" id="pass-theme-3" value="love"  />
    	<label for="pass-theme-3">Romance</label>
   	<input type="radio" name="pass-theme" id="pass-theme-4" value="other"  />
    	<label for="pass-theme-4">Other</label>  

   			 </div>
   			</div><!-- end collapsible theme -->



			<div data-role="collapsible" data-theme="c" data-content-theme="c" data-mini="true">
			<h3 style="margin-bottom:10px;">Pass Type <span style="font-size:.8em; color:rgba(100,100,100,.4);">- Choose what type of item you want to offer</span> </h3>
				
				   <div>


    	<input  type="checkbox" name="pass-type" id="pass-type-1" value="gift" checked="checked" />
    	<label for="pass-type-1">Food</label>
    	<input  type="checkbox" name="pass-type" id="pass-type-2" value="event" checked="checked" />
    	<label for="pass-type-2">Event</label>      	 	
    	<input  type="checkbox"name="pass-type" id="pass-type-3" value="travel" checked="checked" />
    	<label for="pass-type-3">Travel</label>  
 	<input  type="checkbox" name="pass-type" id="pass-type-4" value="other" checked="checked" />
    	<label for="pass-type-4">Product</label>      	

   			 </div>
   			</div><!-- end collapsible theme -->

</div>

		
		</div><!-- end collapsible settings -->




</fieldset>