/* base css */

body{
	background: url('/static/images/body-bg.png');
}

.modal-header{
	background: rgba(200, 200, 200, .2);

}

#main-menu li.top{
	line-height:27px;
	float:left;
}

.subnav .nav > li{
	text-align:center;
}

.brand img{
position: absolute;
margin: -7px -5px;
height: 40px;
}

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
max-width: none;
}

.navbar-static-top a.active,.navbar-fixed-top a.active{
	background:rgba(0, 0, 0, .135);
}
.subnav{
	max-width: 559px;
	margin-left:-6px;
}

@media (max-width: 1200px)  {

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
max-width: 940px;
}

}


@media (max-width: 980px)  {

.brand img{
	margin-left:10px;
}

}


@media (max-width: 768px)  {

.brand img{
position: absolute;
margin: -5px 30px;
height: 33px;
}

#main-menu li.top {
line-height: 20px;

}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
padding: 0px;
}

.navbar-inner{
height:40px;
}


	.container{
	padding-left: 10px;
	}

#main-menu .caret{
	margin:8px 0 0 8px;
}



#site-nav{
	box-shadow: 2px 2px rgba(100, 100, 100, .15); border-radius: 5px;
}

.subnav-fixed{
	max-width: 559px;
}

.subnav-fixed #site-nav{
	box-shadow: none;
}

}



@media (max-width: 620px)  {
.sign_up_form{
    display:none;
}
}

@media (max-width: 445px)  {


#main-menu li.top {
line-height: 20px;
font-size: 13px;
}



}

.navbar .btn-navbar {
display: none;
}

#main-menu .caret{
	margin:11px 0 0 8px;
}

li.spaced{
line-height: 28px;
margin: 0 0 15px;
}


/* Sign Up Form */
.sign_up_form {
  position: relative;
  margin: 35px 0 20px;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/* Echo out a label for the example */
.sign_up_form:after {
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}

.sign_up_form#developer_form:after {
  content: "Passtiche for Publishers Beta";
}

.sign_up_form#enduser_form:after {
  content: "Get Your Beta Invite";
}



