<div class="widget_profile_inner edit_widget_form" style="float:left" id="{{ widget.key() }}">
    	<input type="hidden" style="display:none;opacity:0;height:0;" id="widget_key" value="{{ widget.key() }}" />
    <div class="alert alert-warning" style="width:525px;">
   The Hiptype analytics plugin captures dozens of data points each time your book is read.
    </div>
    
    <div id="plugin_controls">
    
        		<div class="btn-group" id="widget_book_type" >
						<a style="font-size:23px;" id="epub" class="btn btn-large active">ePub</a>
					  <a style="font-size:23px;" id="ibook" class="btn btn-large">iBook</a>
			</div>
				            	
    </div>
    
    <div id="book_types" class="well" style="padding: 15px; margin:15px;">
        <div id="epub">
        {% include "epub_inner.html" %}
        </div>
    
        <div id="ibook" style="display:none;">
        {% include "iba_inner.html" %}
        </div>   
    </div> 
    

<div style="height:10px;"></div>
	 <a id="save_widget" class="btn btn-primary btn-large" data-loading-text="Saving...">{% if widget %}Save Plugin{% else %}Continue{% end %} &nbsp;<span class="icon-chevron-right"></span></a>
	 <div style="height:10px;"></div>
	 	<div id="delete_widget" class="btn" style="margin-top:15px;"><a style="cursor:pointer;font-weight:bold;font-size:.8em;"><span class="icon-trash" style="padding-right:5px;"></span>  Delete Plugin</a></div>
	 	<div>
	 	<a id="new_widget_btn" href="#book/{{ book.key() }}/new" style="margin-top: 15px;
margin-right: -59px;
font-size: 11px;
margin-bottom: -7px;" class="btn btn-primary btn-mini" data-loading-text="Loading..."><i class="icon-plus-sign" style="font-size: 15px;
float: left;display:none;
margin-left: -5px;
margin-right: 5px;"></i></span>New Plugin</a></div>
	 	
	 

    </div>
