<!-- TODO: load this via ajax call -->
{% set responses = widget.responses.fetch(1000) %}
{% if responses %}
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr style="font-weight:bold;">
      <th>#</th>
      <!--<th>User</th>-->
	{% for e, a in enumerate(responses[0].answers) %}
		<td>Answer {{ e + 1 }}<!-- TODO: prompt value --></td>
	{% end %}
    </tr>
  </thead>
  <tbody>
	{% for i, response in enumerate(responses) %}
    <tr>
	<td><i>{{ i + 1 }}</i></td>

     <!-- <td>{{ response.user() }}</td> -->
	{% for a, score in zip(response.answers, response.answer_scores) %}
		<td>{{ a }} {% if score is True %}<i>correct</i>{% end %}{% if score is False %}<i>incorrect</i>{% end %}</td>
	{% end %}

    </tr>
	{% end %}
  </tbody>
</table>
{% else %}
no responses
{% end %}