<div class="form-horizontal" style="padding-bottom:40px;">

    <div class="control-group">

    <label class="control-label" for="inputName2">Your Name: </label>
    <div class="controls" style="margin-left:110px;">
      <input type="text" id="inputName2" placeholder="" disabled="true" style="width:187px;">
    </div>
  </div>


  <div id="send_details" style="margin-top:32px;">


  <div class="control-group">

    <label class="control-label" for="inputLink" style="font-size: 20px;width: 120px;margin-left: -9px;"> &nbsp; <a target="_blank" style="text-decoration:underline;" id="link_text" href="localhost:8080/p/fbe75">Pass Link</a></label>
    <div class="controls" style="width:230px;">
      <input type="text" onclick="this.focus(); this.select()" id="inputLink" placeholder=""  style="font-size: 17px;
padding: 4px 10px;
width: 178px;">
    </div>
  </div>



<hr>
  <div class="control-group" style="margin-top:-7px;">

    <label class="control-label" for="inputTo">Send Pass Via Email:</label>
    <div class="controls">
      <input type="text" id="inputTo" placeholder="email address" style="font-size: 16px;
padding: 7px 6px;
margin-top: 6px;">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" style="color:#777;" for="inputFrom">Your Email Address:</label>
    <div class="controls">
      <input type="text" id="inputFrom" placeholder="your email address">
  <div style="font-size:10px;position: absolute;width: 220px;padding: 5px 3px;color: #777;line-height: 15px;">You will be emailed a receipt pass that will notify you when your recipient is nearby</div> </div>
  </div>




    <a id="send_pass_btn" class="continue btn btn-info" style="font-size: 19px;
padding: 8px 10px;
float: right;
margin-top: 15px;"><i class="icon-envelope icon-white" style="margin-top: 6px;"></i> Email Pass</a>


<div class="alert alert-error" id="error_alert" style="display:none;font-size: 13px;
font-weight: 700;
padding-right: 0;
width: 300px;
text-align: center;">
 
</div>

</div> <!-- send details -->

<div class="alert" style="background: #EEEFF4;display:none;
border-color: #BCE8F1;
color: #3A87AD;position: absolute;font-size: 11px;width: 325px;padding: 10px;margin: 52px -9px;"><b>Coming Soon: </b>Sign Into Facebook to Customize And Share</div>

</div>