  <fieldset>

    <input type="text"  placeholder="Pass Name" id="name" {% if p and p.name %}value="{{ p.name }}"{% end %}>   <a style="margin: -7px 5px 0;" class="btn btn-mini not_available">Lookup Info</a>


    <label>Optional Slug</label>
    <input type="text" id="slug" {% if p and p.slug %}value="{{ p.slug }}"{% end %}>

    <label>Description</label>
    <textarea id="description" style="width: 420px;
height: 112px;">{% if p and p.description %}{{ p.description }}{% end %}</textarea>

    <label>Image</label>

      <img style="width:200px;" class="pass_img img-polaroid" src="{% if p %}{{ p.img() }}{% end %}"/>

    <a class="btn btn-mini upload_img">Upload Image</a>
    <input type="hidden" id="image_url"> 


    {% if not p or not p.url %}
    <div class="accordion" id="pass_activity_accordian" style="width: 500px;
margin: 20px;
background: rgba(100, 100, 100, .04);
border-radius: 10px;">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#pass_activity_accordian" data-target="#pass_activity_body">
     <i id="pass_activity_accordian_icon" class="icon-plus"></i>  Pass Activity
      </a>
    </div>
    <div id="pass_activity_body" class="accordion-body collapse">
      <div class="accordion-inner">
           {% include "edit_activity.html" %}
      </div>
    </div>
  </div>
</div>

    {% end %}


    {% if not p or p.url %}
     <div style="clear:both;">
  <div class="well" style="margin: 20px 0 20px 0px;
padding: 10px;
float: left;
clear: both;">
    <label>&nbsp; <i>pkpass</i> url <span class="help-block" style="font-size: .7em;
margin-bottom: -3px;"> &nbsp; this field is only for remotely hosted passes</span></label>
    <input type="text" id="url" style="width:350px;" {% if p %}disabled{% end %} value="{% if p %}{{ p.url }}{% end %}">
  </div></div>
    {% end %}
    



       <div style="clear:both;" class="admin_only">
    <div class="well" style="margin: 20px 0 20px 30px;
padding: 10px;
float: left;
clear: both;">
    <label>Organization</label>
    <input type="text" id="organizationName" {% if p and p.organizationName %}value="{{ p.organizationName }}"{% end %}>
    <label>Website</label>
    <input type="text" id="organizationUrl" {% if p and p.organizationUrl %}value="{{ p.organizationUrl }}"{% end %}>  
    </div></div> 


   <!-- <span class="help-block">Example block-level help text here.</span>
    <label class="checkbox">
      <input type="checkbox"> Check me out
    </label>-->

   <div style="height:20px;clear:both"></div><div> <a style="font-size:20px;margin-left:20px;" class="save_btn save_pass btn">Save</a>
  {% if p %}
  <div style="height:20px;clear:both"></div><div> <a style="font-size:10px;margin-left:20px;" class="delete_pass btn btn-mini">Delete</a>
  {% end %}  
   <input type="hidden" id="delete"> 
   </div>
  </fieldset>