
	{% include "engagement_history.html" %}


{% set book_activity = ibook.activity() %}
<div id="activity_details" style="clear:both;">
	
{% if book_activity %}

<div style="
height: 39px;
margin-top: 40px;
">
<a id="reader_activity" class="btn disabled" style=" background: rgba(200, 200, 200, .9);
color: #222;
font-size: 1.2em; float: left;
border-width: 3px; clear: both;">Recent Activity<span style="
    font-size: 0.6em;
    color: #555;
">&nbsp;- Notes &amp; Highlights Recently Shared by Readers</span></a>
</div>


		{% for annotation in book_activity %}

			{% include "annotation.html" %}

		{% end %}


{% elif False %} <!-- no book activity -->

<div class="alert alert-info" style="font-size: 14px; text-align: center; width: 617px;  display: block; margin: auto;">
<img src="/static/images/highlight_example.png" style="
    float: right;
    border-radius: 10px;
    moz-border-radius: 10px;
"/> <div style="
    margin: 48px 0px;
">Activity details are not yet available for this book</div>
</div>

{% end %}

</div>