<span style="display:none;" class="book_key" id="{{ book.key() }}"></span>


<!-- TODO: Time Series, selecting point updates data shown below graph -->


	{% include "analytics/basic_stats.html" %}
	

<div id="audience_demographics_panel" class="widget_activity well" style="padding-bottom:20px;width:780px;margin-top:200px;">
                         <!-- <div style="float: right;margin-left:-20px;
            min-width: 220px;margin-top: -10px;">
            <h4 class="form_group_title" style="background: rgba(200, 200, 200, .9);
            color: #222;
            font-size: 1.2em;float:right;
            border-width: 3px;">Audience Demographics</h4>
            </div> -->

        {% include "analytics/audience_demographics.html" %}
</div>


<div style="height:20px;"></div>

{% comment "reading_trends.html" %}