
{% set example_data = (book.example_data or book.example_data2 or book.example_data3) %}



{% comment "ibook.title shows that the book has been indexed" %}
{% if not ibook.title %}	
	<div class="alert" id="analytics_preview" style="
margin: 2px 0 10px 15px;clear:both;
font-size: 13px;
padding: 5px 10px;
line-height: 23px;
">
{% if ibook.status == 'test' %}
<div style="font-size: 18px;
margin: 21px;font-weight:bold;
display: block;
float: left;">Connect to Published Book</div>
<div style="margin-bottom:-8px;">
Type the name of your title in the field below to claim a published book.
</div>
<div style="height:10px;"></div>
 <input id="ibook_id" type="text" value="" style="margin-bottom: 5px;
font-size: 19px;
width: 344px;" placeholder="Search Book Titles" /> <a id="save_bookid" class="btn " style="padding: 3px 7px 8px;
font-size: 23px;" data-loading-text="Saving...">Save</a>
{% else %}
 Your book is being indexed and you will receive an email when indexing is completed.
{% end %}
</div>
{% else %}
	<div class="alert" id="ibook_info" ibook_id="{{ ibook.ibook_id }}" style="
margin: 2px 0 10px 15px;
font-size: 13px;clear:both;
padding: 5px 10px;
line-height: 23px; height:63px;
">
<img src="{{ ibook.img() }}" style="float: left;
width: 50px;
height: 63px;"/> 

<div id="inner_info" style="margin: 9px 15px;float: left;font-size:15px;">
	<b style="font-style: italic;
font-size: 0.8em;
">Author:</b> {{ ibook.get_author() or "Unknown" }} &nbsp; <b style="font-style: italic;
font-size: 0.8em;
">Publisher</b>: {{ ibook.get_publisher() or "Unknown" }}
<br/> <b style="font-style: italic;
font-size: 0.8em;
">Category</b>: {{ ibook.get_genre() }} &nbsp; <b style="font-style: italic;
font-size: 0.8em;
">Price</b>: ${{ ibook.price }}  
</div>

<div style="
position: absolute;
font-size: 9px;
padding: 3px 9px;
width: 216px;
text-align: center;
margin: 7px 0 0 553px;
" class="alert alert-info">Showing <span style="
    color: #333;
">{{ ibook_stats['num_data_total'] }}</span> Data Points From <span style="
    color: #333;
">{{ ibook_stats['num_readers_total'] }}</span> Readers<div style="
    font-size: 10px;
    margin: -6px 0 0;
">Use <a class="marketing_lab_link">Marketing Lab</a> to get more readers</div></div>

</div>
{% end %}

{% if True or not example_data %}
<div class="alert alert-info" style="
margin: 2px 0 10px 16px;
font-size: 17px;
text-align: center;
clear: both;
padding: 5px 10px;
line-height: 42px;
width: 783px;
">
    {% if example_data %}
<div id="disable_example_data" class="btn" style="margin: 7px 0 0 10px;
clear: both;
cursor: pointer;
z-index: 1000;
padding: 3px 10px;
font-size: 12px;
float: left;">
	<i class="icon-remove"></i> &nbsp; Disable Example Data
</div> 
{% else %}
<div id="enable_example_data" class="btn" style="margin: 7px 0 0 10px;
clear: both;
cursor: pointer;
z-index: 1000;
padding: 3px 10px;
font-size: 12px;
float: left;">
	<i class="icon-dashboard"></i> &nbsp; Enable Example Data
</div> 
{% end %}
<a onclick="$('.book_widget_link', '#book_nav_list').click();">
<i class="icon-download-alt" style="font-size: 18px; padding-right: 5px;"></i>
Add the analytics plugin to your book to start capturing live data
</a></div>
{% else %}

{% end %}



     <div id="audience_filter_wrapper" style="float:right;margin: 14px -125px 0 0;">
         <div class="control-group" style="margin: 7px 70px 29px;width: 480px;">
<label class="control-label" for="audience_filter" style="
    float: left;font-size: 12px;
">Filter Data:</label>
<div class="controls" style="margin: -15px 16px 15px;float: left;">
<div class="btn-group" id="audience_filter" style="margin-top:10px;">
    <a style="font-size: 10px;
padding: 4px 8px 3px;" id="all_readers" class="{% if not data_filter or data_filter == 'all_readers' %}active{% end %} btn">All Readers</a>
										<a style="font-size: 10px;
padding: 4px 8px;" id="sample" class="{% if data_filter == 'sample' %}active{% end %} btn">Sample</a>
											<a style="font-size: 10px;
padding: 4px 8px;" id="purchased" class="{% if data_filter == 'purchased' %}active{% end %} btn">Purchased</a>
<a style="font-size: 10px;
padding: 4px 8px 3px;" id="recent" class="{% if data_filter == 'recent' %}active{% end %} btn">Recent <span style="font-size:.8em;">({{ (datetime.datetime.now() - datetime.timedelta(days=30)).strftime('%B %d') }} - {{ datetime.datetime.now().strftime('%B %d') }})</span></a>
</div>
</div>
</div>
         </div>
         

