	
<div>
	<div style="
height: 39px;
margin-top: 5px;
margin-bottom: -20px;
	">
	<a id="engagement_history" class="btn disabled" style=" background: rgba(200, 200, 200, .9);
	color: #222;
	font-size: 1.2em; float: left;
	border-width: 3px; clear: both;">Engagement History<span style="
    font-size: 0.6em;
    color: #555;
">&nbsp;- Reading Activity Since {% if demographic_dict.get('engagement_history') %}{{ demographic_dict['engagement_history'][1][0].strftime("%A, %B %d") }}{% else %}30 Days Ago{% end %}</span></a>
	</div>
	
	    <div id="engagement_history_chart_{{ book.key() }}_data" style="display:none;">
    	
{% include "engagement_history_data.html" %}
    </div>

{% if False and "recent_percents" %}
<div style="position:absolute;">
	 <div id='week_viewed_inner' style="width:119px;float:left">
            <input style="display:none;" type="text" id="completed_knob" value="10" data-fontShrink="6"  data-ticks="10" data-thickness=".35" data-width="110" data-displayInput=false data-fgColor="#0b62a4" data-textColor="#666" data-readOnly=true data-min="0" data-max="100" />
	<div style="position: absolute;
margin: -65px 37px;"><span style="font-size: 22px;float: left;">10</span><span style="
    font-size: 12px;
    padding-left: 2px;
">%</span></div>
  <div style="font-weight:bold; font-size: 14px;
text-align: center;">10% Of Readers Viewed This Book In The Last 7 Days</div>

        </div>

</div>
{% end %}

    <div style="float: left;
width: 800px;
margin-bottom: 20px;
height: 200px;
margin-left: 0px;" class="engagement_history_chart_wrapper" id="engagement_history_chart_{{ book.key() }}" style=""></div>


</div>