
  <div class="control-group" style="margin-top:-7px !important;margin-bottom: 7px !important;">



    <label class="control-label" for="inputToEmail">Send Pass<br/> via Email:</label>
    <div class="controls">
      <input type="text" id="inputToEmail" placeholder="email@domain.com" style="font-size: 16px !important;
padding: 7px 6px !important;
margin-top: 6px !important;">
    </div>
  </div>

  <div id="or_wrapper"><hr style="
    margin: -1px 0 3px !important;
    width: 72px !important;
"><div style="
    position: absolute !important;
    margin: -17px 19px !important;
    background: white !important;
    padding: 3px 9px !important;
    color: #777 !important;
    font-size: 11px !important;
">or</div>
</div>

    <div class="control-group" >
    <label class="control-label" style="clear:both !important;" for="inputPhone">Send Pass<br/> via Phone:</label>
    <div class="controls">
      <input type="text" id="inputPhone" placeholder="555-555-5555" style="font-size: 16px !important;
padding: 7px 6px !important;
margin-top: 6px !important;">
 </div>
  </div>



<a id="send_pass_btn" class="send_pass_btn continue btn btn-info" style="font-size: 19px !important;
padding: 8px 10px !important;
float: right !important;
margin-top: -5px !important;
margin-right: 29px !important;"><i class="icon-envelope icon-white" style="margin-top: 3px !important;"></i>&nbsp; Send Pass</a>


<div class="alert alert-error" id="error_alert" style="display:none !important;font-size: 13px !important;
font-weight: 700 !important;
padding-right: 0 !important;
width: 300px !important;
text-align: center !important;">
 
</div>
