<div class="inner-page" id="jobs_page" style="position:relative;display:none;">
	
    <div class="promo" style="height: 15px; position:relative;padding-top:36px;">
        <div class="container" style="z-index: 1000;
position: relative;">
            
        </div>
    </div>
    <div class="container" style="position:relative;">
    
<div class="marketing" style="margin:35px 200px;font-size:25px;line-height:32px; ">
<h1 style="font-size:1.6em;margin:20px 0px -20px;">Hiptype is Hiring.</h1><br><br>
Join the Hiptype team! You'll work at the exciting intersection of Big Data and publishing on a service that's posed to revolutionize how books are published.
<br/><br/>You'll get a brand new Apple computer, quality health insurance, a generous 401k plan, stock options, and a competitive salary.

<br/><br/><br/>Come back soon for more details about specific roles.<br/><div style="margin:5px; font-size:.7em;">Or just get in touch at <a href="mailto:jobs@hiptype.com">jobs@hiptype.com</a></div></div>
            
        </div>
    </div>
</div>
