<div class="inner-page" id="landing_page" style="position:relative;">
	
    <div class="promo" style="height:55px; position:relative;">
        <div class="container" style="z-index: 1000;
position: relative;">
            <h1>Here’s one for the books.</h1>
            <h2 style="padding-top: 10px;"><span style="color: #85C2B5;font-size: 1.1em;">Hiptype</span> is a platform for data-driven book publishing</h2>

{% include "slideshow.html" %}
          
        </div>
    </div>
    <div class="container" style="position:relative;">
    
<div class="marketing" style="margin-bottom: 25px">
            
            
            {% include "features.html" %}
            
             <div class="row pagination-centered">
            	<a target="_blank" href="http://www.fastcompany.com/1844304/do-books-need-beta-version-analytics-books-pave-way"><img src="/static/images/press_mentions.png" style="
    width: 871px;
"></a>

    <div id="infographic_wrapper" style="">
        <div id="checkout"><div id="checkout_inner" style="margin-bottom:8px;">
            Check out this new infographic showing our latest data analysis
        </div>
<div><input type="text" value="http://www.hiptype.com/infographic" style="font-size: 11px;
padding: 0 3px;
margin: 5px 0 0 -14px;"> <div  style="margin: 3px 12px 0 -10px;
float: right;" class="fb-like" data-href="http://www.hiptype.com/infographic" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div></div>

        </div>
        <img _src='/static/images/hiptype_infographic.png'/>
    </div>
</div>
			
      
            <div class="row" id="invite">
                <div class="span10 offset1">
                    
                    
                    <div class="form-wrapper pagination-centered">
                        <div  id="before_signup">
                        <h2><b>Get Your Invite to Join the Hiptype Beta</b></h2><br>
                        <div class="form-inline">
                            <input type="text" id="signup_email" class="input-medium span3" style="margin-right: 10px;" placeholder="Email">
                            <a id="signup_link"  class="btn btn-success btn-large">Request an Invitation</a>
                        </div>
                        
                        </div>
                        
                          <div id="after_signup" style="display:none;">
                          <h2 style="font-size:25px;"><b>Thanks for signing up!</b></h2><div>Check your email inbox for next steps</div>
                      </div>
                      
                    </div>
                    
                    
                    
                    
                </div>
            </div><!-- invite -->
            

            {% include "below_invite.html" %}
			


            
        </div>
    </div>
</div>
