<section id="jms-slideshow" class="jms-slideshow" style="display:none;">
	
	
		<div class="step" data-color="color-5" data-x="-500" data-y="150" data-scale=".6" data-rotate-y="-60" data-rotate-x="-80" data-rotate-y="40">
		<div class="jms-content">
<h3 style="
position: absolute;
top: -9px;
width: 314px;
left: 600px;
z-index: 10000;
">An Instant Overview of Your Book's Performance</h3>
<img src="/static/images/carousel/insights.png" style="
width: 549px; max-width: none; right: 10px; 
left: -18px; 
top: -61px; border-radius: 10px;
">
</div>
				
				</div>
				
				
				<div class="step" data-color="color-5" data-x="-420"  data-scale="1.6"  data-rotate-x="50">
		<div class="jms-content">
<h3 style="
position: absolute;
top: -9px;width: 346px;
left: -20px;
z-index: 10000;
">Discover What Your Readers Love &amp; Where Your Readers Leave</h3>
<img src="/static/images/carousel/activity.png" style="
width: 801px;
max-width: none;
right: 10px;
left: 374px;
top: -66px;
border-radius: 20px;
">
</div>
	</div>
			
			
				<div class="step" data-color="color-5" data-x="300" data-y="-100"  data-rotate-y="80" data-rotate-x="-40">
					<div class="jms-content">
<h3 style="
position: absolute;
top: -9px;
width: 373px;
left: -29px;
z-index: 10000;
">Works With the eReaders and eBook Retailers Your Audience Already Uses</h3>
<img src="/static/images/carousel/ipad.png" style="
width: 487px;
max-width: none;
right: 9px;
left: 432px;
top: -59px;
">	</div>
</div>
	
				<div class="step" data-color="color-5" data-y="-150" data-x="150" data-scale="0.5" data-rotate-x="20" data-rotate-y="-30">
					<div class="jms-content">
			<h3 style="
    position: absolute;
    top: -9px;width: 346px;
    left: 559px;
    z-index: 10000;
">Repost &amp; Promote the Quotes and Passages Shared By Readers</h3>
				<img src="/static/images/carousel/highlight.png" style="
    width: 624px;
    max-width: none;
    right: 10px;
    left: -61px;
    top: -20px;
">
					</div>
				
				</div>
			



	<!--<div class="step" data-color="color-5" data-x="-100" data-y="550" data-scale=".3" data-rotate-y="40" data-rotate-x="-260">
				<div class="jms-content">
<h3 style="
position: absolute;
top: 10px;width: 346px;
left: -20px;
z-index: 10000;
">Add Hiptype Analytics to Your Book In Seconds</h3>
<img src="/static/images/carousel/add_hiptype.png" style="
width: 314px;
max-width: none;
right: 10px;
left: 374px;
top: -73px;
"><span class="icon-download" style="
    font-size: 153px;
    position: absolute;
    right: 40px;
    top: 19px;
"></span>
</div>
				
				</div> -->
				
			</section>
			