
		
		{% if not widget %}
		{% include "bookclub_intro.html" %}
{% end %}

				<div class="control-group" id="widget_preview_icon" style="padding-top:10px;">
		            <label class="control-label" id="widget_icon_type_label" for="thumbnail">&nbsp; <span class="iconic eye"></span> Preview Image &nbsp; <span style="font-size:.8em;color:#AAA;">Readers tap this image to view your Book Club</span></label>
		      				
								<div class="btn-group" id="widget_icon_type" >
								          <a id="bookclub1"   class="{% if not widget or widget.thumbnail == "bookclub1" %}active{% end %} btn">
									<img src="/static/images/thumbnail/bookclub1.png"/></a>
								  
										  <a id="bookclub2" class="{% if widget and widget.thumbnail == "bookclub2" %}active{% end %} btn"><img src="/static/images/thumbnail/bookclub2.png"/></a>
								            <a id="bookclub3" class="{% if widget and widget.thumbnail == "bookclub3" %}active{% end %} btn"><img src="/static/images/thumbnail/bookclub3.png" /></a>
								<a id="bookclub4" class="{% if widget and widget.thumbnail == "bookclub4" %}active{% end %} btn"><img src="/static/images/thumbnail/bookclub4.png" /></a>
				            	</div>
	
		     </div>
		

		<div class="control-group" id="bookclub_types" style="padding-top:10px;display:none;">
		            <label class="control-label" id="bookclub_types_label" for="thumbnail">&nbsp; Book Recommendations</label>
		      
								<div class="btn-group" id="book_filter" style="margin-top:10px;">
								        
								
								        <a id="all"   class="{% if not widget or not widget.book_filter %}active{% end %} btn">All Books</a>  
								  
										  {% if ibook.publisher_name %}<a id="publisher" class="{% if widget and widget.book_filter == 'publisher' %}active{% end %} btn">Books From {{ ibook.publisher_name }}</a>{% end %}
										{% if ibook.seller_name %}<a id="seller" class="{% if widget and widget.book_filter == 'seller' %}active{% end %} btn">Books From {{ ibook.seller_name }}</a>{% end %}
										
				            	</div>
</div>

			<div class="controls" id="edit_bookclub" style="display:none;">
				
				<ul class="bookclub_books" style="margin-bottom:15px; padding:10px;">
				{% if widget %}			
					{% for bookclub_book in widget.bookclub %}
						<li class="bookclub_book">
 							<span class="book_name">{{ bookclub_book['name'] }}</span> &nbsp; <a class="close">&times;</a>
							<div class="adjust"></div>
						</li>
					{% end %}
				{% end %}
			</ul>
			
			 		<div class="control-group">
				 <input type="text" placeholder="New Book" style="width:300px;" class="placeholder input-xlarge" id="new_bookclub_book"></input>
		&nbsp; <a class="btn-info btn-large btn primary add_book">Add</a>
          <p class="help-block"></p>
</div>

{% if current_user.book_count > 1 %}

<label style="
display: inline;
font-size: .9em;.;
color: #777;
">My Books: </label><select id="my_books" style="font-size: 22px;width: 290px;height: 48px;margin: 6px -36px 10px 14px;display: inline-block;">
<option>Select a Book to Add</option>
{% for user_book in current_user.books.fetch(1000) %}
	{% if user_book.key() != book.key() %}
	<option id="{{ book.key() }}">{{ user_book.get_name() }}</option>
	{% end %}
{% end %}
</select>

{% end %}

</div>
	
	{% comment "widget_reward.html" %}