
<div class="review_type_section" id="multiple_choice" {% if widget and widget.review_type() != "multiple_choice" %}style="display:none;"{% end %}>
			<div class="control-group" style="margin:20px 0 0; padding: 10px 0;">
        <label class="control-label" for="short_answer_value">Multiple Choice Prompt</label>
        <div class="controls" style="margin:10px 0 0;">
          <input type="text"  style="width:420px;" class="placeholder input-xlarge mc_prompt" value="{% if widget %}{{ review_item['prompt'] }}{% end %}" placeholder="Multiple Choice Question">
			{% if not widget %}
          <p class="help-block">Example: <i>"Which planet in our solar system is second farthest from the Sun?"</i></p>
{% end %}
        </div>
 </div>	
	<div class="control-group" style="margin:5px; padding: 10px;">
        <label class="control-label" for="input01">Answer Choices</label>
       <div class="controls" style="margin-top:15px;">
	{% if not widget %}
	<div id="mc_intro" class="alert alert-info" style="width: 375px;
padding-right: 15px;
margin-bottom: 0;">
        <strong>Add Options Below</strong> and select the correct one
      </div>
		<div id="mc_correct_intro" class="alert alert-info" style="display:none; width: 357px;
padding-right: 15px;
margin-bottom: 0;">
        <strong>Specify the Correct Answer</strong> by clicking{% comment "TODO: mobile: tap" %} it
      </div>
{% end %}
			<ul class="mc_questions" style="margin-bottom:15px; padding:10px;">
				{% if widget and widget.review_type() == 'multiple_choice' %}			
					{% for i, option in enumerate(review_item['options']) %}
						<li class="mc_question {% if review_item['answer'] == i  %}correct{% end %}">
							<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" {% if review_item['answer'] == i  %}checked{% end %}>
							&nbsp; <span class="correct_prefix">Correct Answer: &nbsp;</span> <span class="mc_value">{{ option }}</span> &nbsp; <a class="close">&times;</a>
							<div class="adjust"></div>
						</li>
					{% end %}
				{% end %}
			</ul>
	
			
          <input type="text" placeholder="New Multiple Choice Option" style="width:300px;" class="placeholder input-xlarge" id="new_mc_value"></input>
		&nbsp; <a class="btn-info btn-large btn primary add_mc_question">Add</a>
          <p class="help-block"></p>
       </div>
  </div>
</div>
