
	<div class="review_type_section" id="short_answer" {% if not widget %}style="display:none;"{% end %}>
			<div class="control-group" style="margin:10px 0; padding: 10px 0;">
        <label class="control-label" for="short_answer_value">Short Answer Prompt</label>
        <div class="controls" style="margin:10px 0;">
          <input type="text"  style="width:420px;" class="placeholder input-xlarge" id="short_answer_value" value="{% if widget %}{{ review_item['value'] }}{% end %}" placeholder="Short Answer Prompt">
          <!--<p class="help-block">Give a prompt for your short answer...</p>-->
        </div>
 </div>
	</div>
