{% extends "../base.html" %}

{% block main %}
<br/><br/>
<font color="#333333" size="5"><b>{{ user_pass.display_owner_name() }} sent you a PassBook pass.</b></font>
<font color="#666666" size="3">
<br/><br/>
You have received an invite to <font color="#111" size="4">{{ user_pass.pass_name }}</font> from <i>{{ user_pass.display_owner_name() }} {% if user_pass.owner_email %}({{ user_pass.owner_email }}){% end %}</i>.
<br/><br/>
Your pass is available for download on your iPhone or the latest version of Safari for Mac:<br/><br/>
    {{ user_pass.url() }}
<br/><br/>
</font>
{% end %}
