<meta charset="utf-8">
<meta property="fb:app_id" content="{{ settings['facebook_id'] }}" /> 
<meta property="fb:admins" content="{{ settings['facebook_admin'] }}"/>
<title>{{ settings['title'] }}</title>
<meta name="description" content="{{ settings['description'] }}">
<meta name="author" content="">

<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- defer jQuery
<script type='text/javascript'>window.q=[];window.$=function(f){q.push(f)}</script>
<script type="text/javascript">$.each(q,function(i,f){$(f)})</script>
-->

{% block css_links %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/navbar.css" rel="stylesheet">
{% end %} 

<style type="text/css">
{% block css %}
{% end %}
{% block extra_css %}
{% end %}
</style>

<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="/static/favicon.ico">
<link rel="apple-touch-icon" href="/static/images/hiptype_app_icon.png">
<link rel="apple-touch-icon-precomposed" href="/static/images/hiptype_app_icon.png"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
{% comment "TODO: from base handler, use user agent to set custom viewport width..." %}
{% if "iPhone" in user_agent or "iPod" in user_agent %}
   <!---->
{% end %}
<!-- user-scalable=no,width = 890,initial-scale =,maximum-scale =1 -->
<!-- ipad initial-scale = .88,maximum-scale = .88 -->
 <meta name="viewport" content="width = 1080"> 

{% if not settings['debug'] %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
{% end %}
<script>window.jQuery||document.write("<script src='/static/js/jquery.1.7.1.min.js'>\x3C/script>");
</script>

{% block head %}
{% end %}