<div class="inner-page" id="about_page" style="position:relative;display:none;">
	
    <div class="promo" style="height: 15px; position:relative;padding-top: 36px;">
        <div class="container" style="z-index: 1000;
position: relative;">
          
        </div>
    </div>
    <div class="container" style="position:relative;">
    
<div class="marketing" style="margin: 35px 200px;">
    <h1>About Hiptype</h1><br><br>
    
<h2 style="font-size: 26px;
color: #555;
margin-bottom: 20px;">Hiptype is a platform for data-driven book publishing</h2>

<div>
<div>Most eBook retailers only share sales, downloads, ratings and reviews with publishers.</div>

<div>We've designed a plugin that publishers can add to their eBooks to gain valuable insights about how to make their books better for readers and more successful in bookstores.</div>

<div> Hiptype provides detailed insights such as the sections of the book that readers engage with most and least, and a book's popularity among various audience demographics.</div>
  </div>  

<!-- comparison chart -->

<div style="font-style:italic;margin: 20px 56px -15px; font-size:.9em;">You can opt-out of Hiptype's anonymous usage statistics and erase your data at any time.<br> See our <a class="privacy_link">Privacy Policy</a> for details.</div>
    

<hr class="overlap-hr" style="
    height: 2px;
    background: rgba(100,100,100,.3);
    width: 770px;
margin: 40px auto 25px;
">

<div id="founders" style="width: 589px;padding-left:0;
margin: 0 0 0 -10px;">
<div style="float:left;">
<a href="http://www.twitter.com/jamtoday" target="_blank"><img src="/static/images/founders/james.jpg" style="
"></a>
<a href="http://www.twitter.com/sohailprasad" target="_blank"><img src="/static/images/founders/sohail.jpg"></a>
</div>
<div style="float:left; padding: 11px 0;margin-left:10px;clear: right;width: 306px;">Before Hiptype, we were building data-driven products at Google, Chartboost and Turntable.fm
<div style="height: 1px;margin: 8px;"></div>We're now backed by top investors<br/> to bring data to book publishing
</div>
</div>



<h3 style="margin:35px 0 5px;clear:both;">Contact Us</h3>
<div style="font-size:.9em; margin-top:-3px;">
<b>Questions?</b> Email us at <a href="mailto:info@hiptype.com">info@hiptype.com</a>
</div>

  


            
        </div>
    </div>
</div>
