    
          <div class="row pagination-centered" id="blog" >

                <div class="span12">
                    <hr class="overlap-hr" style="
    height: 2px;
    background: rgba(100,100,100,.3);
    width: 888px;
">
                    <h2 class="overlap-h2" style="
    background: white;position: relative;
    padding: 8px 20px 8px 13px;
    border-radius: 10px;
    background: #FEFEFE;
   
"><i class="icon-rss" style="
font-size: 29px;
float: left;
margin: -1px 10px;
"></i> From the Hiptype Blog</h2>
                </div>
            </div>
            <div id="blog_posts">
                <div class="row">
                    <div class="span6 offset3">
                        <h3><a target="_blank" href="http://blog.hiptype.com/the-dna-of-a-successful-book-1">The DNA of a Successful Book</a></h3>
                        <p>Why does <i>Fifty Shades of Grey</i> succeed where so many other seemingly similar romance books haven’t? Is it like winning the lottery, or is there an underlying pattern? &nbsp; <a target="_blank" href="http://blog.hiptype.com/the-dna-of-a-successful-book-1">Read more &raquo;</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="span6 offset3">
                        <h3><a target="_blank" href="http://blog.hiptype.com/gifts-that-keep-getting-better">The Subscription Revolution</a></h3>
                        <p>One of the things we’re really excited about at Hiptype is helping book publishers measure performance changes between different versions of the same book. &nbsp; <a target="_blank" href="http://blog.hiptype.com/gifts-that-keep-getting-better"> Read more &raquo;</a></p>
                    </div>
                </div>
                
                
                </div> 
  
  
   {% if False %}
   <div class="row pagination-centered" style="margin-top:-70px;">
        <div class="span10 offset1">
            <hr class="overlap-hr" style="
    height: 2px;
    background: rgba(100,100,100,.3);
">
            <h2 class="overlap-h2" style="
    background: white;position: relative;
    padding: 8px 20px;
">What Industry Leaders Are Saying</h2>


        </div>
    </div>
    <div id="testimonial_rows" style="margin-top: 60px;">
        <div class="row">
            <div class="span1 offset3">
                <div class="avatar" style="background-image:url(/static/images/testimonials/dominique.png);">
                </div>
            </div>
            <div class="span5">
                <blockquote>Data works better than your gut.</blockquote>
                <p>&mdash; <span>Dominique Raccah, Sourcebooks CEO</span></p>
            </div>
        </div>
        <div class="row">
            <div class="span1 offset3">
                <div class="avatar" style="background-image:url(/static/images/testimonials/eric_ries.jpg);">
                </div>
            </div>
            <div class="span5">
                <blockquote>The only way to win is to learn faster than anyone else.</blockquote>
                <p>&mdash; <span>Eric Ries, Author of <i>The Lean Startup</i></span></p>
            </div>
        </div>
        <div class="row">
            <div class="span1 offset3">
                <div class="avatar" style="background-image:url(/static/images/testimonials/jim_hilt.jpg);">
                </div>
            </div>
            <div class="span5">
                <blockquote >If we can help authors create even better books than they create today, it's a win for everybody.</blockquote>
                <p>&mdash; <span>Jim Hilt, VP of eBooks at Barnes &amp; Noble</span></p>
            </div>
        </div>
    </div>
    
    {% end %}
        
    
                