<div class="row pagination-centered" id="features">
           <div class="span10 offset1">
<hr class="overlap-hr" style="
    height: 2px;
    background: rgba(100,100,100,.3);
">
<h2 class="overlap-h2" style="
    background: white;position: relative;
    padding: 8px 20px;
">Insights You Won't Get Anywhere Else</h2>
</div>
            </div>
            <div class="row feature left">
                <div class="span5 offset1" style="margin-top:19px;">
                    <div class="">
                        <h2>Audience Insights &amp; Book Performance</h2>
                        <p>Hiptype helps you discover what kind of readers you have and where they skip chapters and leave.</p><p>Hiptype works in eReaders your audience already uses. No need for them to download a new app.</p>
                    </div>
                </div>
                <div class="span4 offset">
                    <div class="ss">
<span class="icon-signal" style="
margin: 45px 0 0 19px;
"></span><span class="icon-search" style="
margin: 45px 0 0 146px;
"></span><span class="icon-beaker" style="
margin: 45px 0 0 260px;
"></span>
</div>
                </div>
            </div>
            <div class="row feature right">
                <div class="span4 offset1">
                  <div class="ss" id="sales_icons"><span class="icon-group" style="margin: 48px 4px;"></span><span class="icon-random" style="margin: 53px 143px;font-size: 100px;"></span><span class="icon-shopping-cart" style="margin: 48px 0 0 249px;"></span></div>
                </div>
                <div class="span5 offset1" style="margin-top:15px;">
                    <div class="">
                        <h2>Leverage Data to Grow Your Audience</h2>
                        <p>Hiptype uses data to automatically improve the value and effectiveness of publisher ad campaigns.</p><p> Hiptype Smart Ad Campaigns make it easy to target people  most likely to purchase, and read your book. {% if False %}Enhance your books with targeted, personalized recommendations from your catalog for each reader.{% end %}<p>
                    </div>
                </div>
            </div>
            <div class="row feature left" style="display:none;">
                <div class="span5 offset1" style="margin-top:18px;">
                    <div class="">
                        <h2> Social Media Following</h2>
                        <p>Promote the quotes and passages that readers are most often publicly sharing with their friends. Make it easy for readers to stream their reading activity on Facebook and get email updates with personalized suggestions for which of your titles to read next.</p>
                    </div>
                </div>
                <div class="span4 offset">
                 <div class="ss"><span class="icon-envelope" style="margin: 47px 10px;font-size: 100px;"></span><span class="icon-facebook" style="margin: 45px 0 0 118px;"></span><span class="icon-twitter" style="margin: 51px 0 0 169px;font-size: 100px;"></span><span class="icon-pinterest" style="margin: 51px 0 0 275px;font-size: 100px;"></span>
</div>
                </div>
            </div>