
<header class="inverse" id="header" style="position:relative;z-index:2000;">
    <div class="container">
        <div class="row">
            <div class="span2">
              <h1 style="" class="landing_page_link"><a href="#" class="logo">Hiptype </a></h1>
            </div>
            <div class="pull-right">
                {% if signed_in %}
                <ul class="nav nav-pills pull-right">
                    <li><a class="btn btn-small btn-success landing_page_link" href="/dashboard"><i class="icon-dashboard"></i> My Dashboard</a></li>
                    <li><span class="or">or</span></li>
                    <li><a class="nav-link last" href="/logout">Sign Out</a></li>
                </ul>                
                {% else %}
                <ul class="nav nav-pills pull-right">
                    <li><a id="invite_link" class="btn btn-small btn-success landing_page_link" href="#invite">Request an Invite</a></li>
                    <li><span class="or">or</span></li>
                    <li><a class="nav-link last" href="/login">Sign In</a></li>
                </ul>
                {% end %}                
            </div>
        </div>
    </div>
</header>
