<div class="inner-page" id="pricing_page" style="position:relative;display:none;">
	
    <div class="promo" style="height: 15px; position:relative;padding-top:36px;">
        <div class="container" style="z-index: 1000;
position: relative;">
            
        </div>
    </div>
    <div class="container" style="position:relative;width:960px;">
    
<div class="marketing" style="margin:35px 130px;font-size:25px;line-height:32px; ">
    <h1>Plans &amp; Pricing</h1>
    <h3>No setup fees. Pay month-to-month. 24/7 Support</h3>
<h5 style="margin: 10px 0;color:#777;">Custom packages and volume discounts available upon request. Plans are priced per title.</h5>
    <div id="signup_alert" class="alert alert-info" style="display:none;margin: 15px 0 -8px;">
        <div id="before_signup" style="font-size:17px;">
            Select a plan to complete your signup.
            <div class="btn-group"> <a id="launch_partner_btn" class="active btn"><i style="font-size:1.1em;display:none;" class="icon-check">&nbsp;</i> I'd like to be considered for being a Hiptype launch partner</a></div>
        </div>
        <div id="after_signup" style="display:none;">
            Thanks for signing up!
        </div>
    </div>
<div>
    <div class="pricing-wrapper clearfix pagination-left">
        <div class="tier" id="free">
            <h2 style="color: #777;
margin-bottom: 23px;
font-size: 19px;
text-align: center;">30 Day Free Trial <span class="price">&nbsp; <span class="monthly">&nbsp;</span></span></h2>
            <p><i class="icon-book"></i>Basic Plan For One Book</p>
				<p><i class="icon-bullhorn"></i>Data From <b>100</b> Readers</p>
   			<p><i class="icon-phone"></i> <b>One User Per Account</b></p>
            <a class="signup btn btn-large btn-primary">Sign Up</a>
        </div>
        <div class="tier popout" id="basic">
            <h2 style="text-align:center;">Basic / <span class="price"> $19 <span class="monthly">monthly</span></span></h2>
            <p><i class="icon-bullhorn"></i>Data From Up To <b>1,000</b> Readers</p>
            <p><i class="icon-group"></i>See Where Readers Skip &amp; Leave</p>
				<p><i class="icon-dashboard"></i>Improve Sample->Purchase Rate</p>  <p><i class="icon-bar-chart"></i>Test Performance Changes <br/>b/w Multiple Versions of Book</p>
             <p><i class="icon-phone"></i> <b>One User Per Account</b></p>
            <a class="signup btn btn-large btn-primary">Sign Up</a>
        </div>
        <div class="tier" id="pro" style="width: 202px; padding: 20px 15px;">
            <h2 style="text-align:center;">Pro / <span class="price"> $99 <span class="monthly">monthly</span></span></h2>
            <p><i class="icon-bullhorn"></i><b>Unlimited</b> Reader Data</p>
            <p><i class="icon-group"></i>See Where Readers Leave</p>
				<p><i class="icon-dashboard"></i>Boost Sample->Purchase Rate</p>
            <p><i class="icon-bar-chart"></i>Test Performance Changes b/w Multiple Versions of Book</p>
   <p><i class="icon-phone"></i> <b>20 Users Per Account</b></p>
            <p><i class="icon-book"></i> <b>Export Data: API &amp; PDF</b></p>
            <p><i class="icon-facebook"></i> <b>In-Book Social Features</b></p>
         
            
            <a class="signup btn btn-large btn-primary">Sign Up</a>
        </div>
    </div>
    <div class="" style="margin-top:10px;">
        <h5>Have an invite code?</h5>
        <form class="form-inline">
            <input type="text" class="input-medium span3" style="margin-right: 10px;">
            <a class="btn btn-large btn-primary" style="font-size: 13px">Redeem Code</a>
        </form>
    </div>
</div>

</div>
            
        </div>
    </div>
</div>
