
    {% if book.files and False %}
        <div class="alert alert-info" style="width:535px;font-size:13px;">
    

       A plugin for this book will soon be available for download. We are progressing through a large backlog of books as quickly as possible and appreciate your patience.
    </div>
    {% end %}
    
    <div id="filepicker_widget" style="margin:10px 20px;">
        <div id="uploaded_docs" style="padding: 20px;
color: #777;">
            {% if book.files %}
            {% for file in book.files[::-1] %}
                <div class="doc"><b>{{ file['filename'] }}</b> &nbsp; <a href="{{ file['url'] }}" class="btn">Download</a></div>
            {% end %}{% end %}
        </div>
        
      <a class="btn btn-large btn-primary" id="upload_doc"><i class="icon-upload-alt"></i>&nbsp;  Upload ePub</a>
    </div>
    
    