{% extends "../../base.html" %}


{% block css %}
table.menu-list tr:hover th{
	color:#666;

}

#dashboard-menu a span{
	font-size:17px;
}


@media (max-width: 1200px){

table.menu-list .views h4{
font-size: 11px;
margin: 11px -16px;
}	
}

{% end %}

{% block js_tags %}

<script src="/static/js/cms/Theme.js"></script>

<script type="text/javascript">
(function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v1/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document); 
</script>


<script>

$(function () {

	Theme.init ();

	{% include "js/cms.js" %}
	
});

</script>

{% end %}

{% block body %}


<div id="wrapper" style="min-width:620px;">
	


<div id="content">

	<div class="container">
		
		<div class="row">
			
			<div class="span4">
	<div class="nav-collapse" style="
	background:none;
width: 100%;
float: left;
margin-bottom: 0px;">
			<ul id="dashboard-menu" class="nav nav-pills pull-left" style="cursor:pointer;padding-left:15px;margin-bottom:7px;">
				<li class="active">
					<a data-target="#passes" href="#passes"  id='pass_link'>
						<span>Passes</span>        					
					</a>
				</li>

				{% if current_user and current_user.is_admin() %}

				<li>
					<a data-target="#locations" href="#locations"  id='location_link'>
						<span>Locations</span>        					
					</a>
				</li>	
				
				<li>
					<a data-target="#lists" href="#lists"  id='list_link' >
						<span>Lists</span>        					
					</a>
				</li>	
				{% else %}
				<li>
					<a data-target="#settings" href="#settings" id='settings_link'>
						<span><i style="line-height:20px;" class='icon-cog'></i> &nbsp; Settings</span>        					
					</a>
				</li>
												
				{% end %}						
			</ul>
			
</div>
				<div class="well" style="clear: both;
overflow: hidden;
background: rgba(255, 255, 255, .4);
padding-left: 0;padding-top:30px;">
					
					<div>
						
						<div class="masthead-pad" style="padding-left:15px;">

				<div class="tab-content">

						<div class="tab-pane active" id="passes">
							<div style="padding:15px 0;">You can create passes manually or<br/>with the Passtiche Javascript Library</div>
							<a class="btn" id="new_pass"><i class="icon-plus-sign"></i> New Pass</a>
							<div id="pass_template_list" style="margin:20px 0;">
									<!-- Pass Template List Items Added Via Ajax -->
							</div>
						</div>

						<div class="tab-pane" id="locations">
							<a class="btn" id="new_location"><i class="icon-plus-sign"></i> New Location</a>
							<div id="pass_location_list" style="margin:20px 0;">
									<!-- Pass Location List Items Added Via Ajax -->
							</div>
						</div>

						<div class="tab-pane" id="lists">
							<a class="btn" id="new_list"><i class="icon-plus-sign"></i> New List</a>
							<div id="pass_list_list" style="margin:20px 0;">
									<!-- Pass List List Items Added Via Ajax -->
							</div>
						</div>

							<div class="tab-pane" id="settings">
								<div id="settings_links" style="line-height:40px;">
								
									<a class="btn" style="font-size: 17px;
line-height: 26px;
margin: 5px;" id="account_settings">Account Settings</a>
									<div id="account_settings_inner" style="display:none;">
											{% include "settings/account_settings.html" %}
									</div>
									<br/>
										<a class="btn" style="font-size: 17px;
line-height: 26px;
margin: 5px;"  id="edit_profile">Edit Profile</a>
									<div id="edit_profile_inner" style="display:none;">
										{% include "settings/edit_profile.html" %}
									</div>
									
								</div>
							<div id="pass_list_list" style="margin:20px 0;">
									<!-- Pass List List Items Added Via Ajax -->
							</div>
						</div>		

				</div><!-- tab content -->
						</div><!-- masthead-pad -->
					</div>
				</div>


			</div> <!-- /.span4 -->
			
			<div class="span8">
			<div id="content_edit_wrapper" class="well">

				<!-- This is where edit forms go -->

			</div>
			</div> <!-- /.span8 -->
			
			<div id="new_pass_wrapper" style="display:none;">
				{% set p = None %}
				{% include "pass/pass.html" %}
			</div>
			<div id="new_location_wrapper" style="display:none;">
				{% set l = None %}
				{% include "location/edit.html" %}
			</div>
			<div id="new_list_wrapper" style="display:none;">
				{% set pl = None %}
				{% include "list/edit.html" %}
			</div>						

		</div> <!-- /.row -->
		
		
	</div> <!-- /.container -->

</div> <!-- /#content -->

</div> <!-- /#wrapper -->



{% end %}