{% extends "../../base.html" %}


{% block js_tags %}

<script src="/static/js/cms/Theme.js"></script>

<script type="text/javascript">
(function(a){if(window.filepicker){return}var b=a.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===a.location.protocol?"https:":"http:")+"//api.filepicker.io/v1/filepicker.js";var c=a.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d={};d._queue=[];var e="pick,pickMultiple,read,write,writeUrl,export,convert,store,storeUrl,remove,stat,setKey,constructWidget,makeDropPane".split(",");var f=function(a,b){return function(){b.push([a,arguments])}};for(var g=0;g<e.length;g++){d[e[g]]=f(e[g],d._queue)}window.filepicker=d})(document); 
</script>


<script>

$(function () {

	Theme.init ();

	{% include "js/cms.js" %}
	
});

</script>

{% end %}

{% block body %}


<div id="wrapper">
	


<div id="content">

	<div class="container">
		
		<div class="row">
			
			<div class="span4">
	<div class="nav-collapse" style="
	background:none;
width: 100%;
float: left;
margin-bottom: 0px;">
			<ul id="main-nav" class="nav pull-left" style="cursor:pointer;padding-left:15px;margin-bottom:-2px;">
				<li class="active">
					<a data-target="#passes" id='pass_link'>
						<span>Passes</span>        					
					</a>
				</li>
				<li>
					<a data-target="#locations" id='location_link'>
						<span>Locations</span>        					
					</a>
				</li>	
				<li>
					<a data-target="#lists" id='list_link' class='btn-green'>
						<span>Lists</span>        					
					</a>
				</li>							
			</ul>
			
</div>
				<div class="well" style="clear: both;
overflow: hidden;
background: rgba(255, 255, 255, .4);
padding-left: 0;padding-top:30px;">
					
					<div class="container">
						
						<div class="masthead-pad" style="padding-left:15px;">

				<div class="tab-content">

						<div class="tab-pane active" id="passes">
							<a class="btn" id="new_pass">New Pass</a>
							<div id="pass_template_list" style="margin:20px 0;">
									<!-- Pass Template List Items Added Via Ajax -->
							</div>
						</div>

						<div class="tab-pane" id="locations">
							<a class="btn" id="new_location">New Location</a>
							<div id="pass_location_list" style="margin:20px 0;">
									<!-- Pass Location List Items Added Via Ajax -->
							</div>
						</div>

						<div class="tab-pane" id="lists">
							<a class="btn" id="new_location">New List</a>
							<div id="pass_list_list" style="margin:20px 0;">
									<!-- Pass List List Items Added Via Ajax -->
							</div>
						</div>

				</div><!-- tab content -->
						</div><!-- masthead-pad -->
					</div>
				</div>


			</div> <!-- /.span4 -->
			
			<div class="span8">
			<div id="content_edit_wrapper" class="well">

				<!-- This is where edit forms go -->

			</div>
			</div> <!-- /.span8 -->
			
			<div id="new_pass_wrapper" style="display:none;">
				{% set p = None %}
				{% include "pass/edit.html" %}
			</div>
			<div id="new_location_wrapper" style="display:none;">
				{% set l = None %}
				{% include "location/edit.html" %}
			</div>
			<div id="new_list_wrapper" style="display:none;">
				{% set pl = None %}
				{% include "list/edit.html" %}
			</div>						

		</div> <!-- /.row -->
		
		
	</div> <!-- /.container -->

</div> <!-- /#content -->

</div> <!-- /#wrapper -->



{% end %}