
	<div class="review_type_section" id="fill_in" {% if not widget %}style="display:none;"{% end %}>
			<div class="control-group" style="margin:10px; padding: 5px;">
        <label class="control-label" for="fill_in_value">Fill-in-the-Blank Question</label>
        <div class="controls" style="margin: 20 10px;">
          <input type="text" id="fill_in_value" style="width:420px;" class="placeholder input-xlarge" value="{% if widget %}{{ review_item['value'] }}{% end %}" placeholder="Fill in the blank statement">
          <p class="help-block">Example: <i>"It was the ___ of times, it was the ___ of times."</i></p>
        </div>
		<div class="fill_in_preview_wrapper" style="{% if not widget %}display:none;{% end %}">
        <label class="control-label" for="input01">Preview</label>
        <div class="controls" style="margin-bottom:34px;">
	{% if review_item %}
	{% for answer in review_item['answers'] %}
		<span class="answer" style="display:none;" id="{{ answer }}"></span>
	{% end %}
{% end %}
			    <section class="help-block fill_in_preview" style="margin: 7px;
padding: 10px 20px;
font-size: 26px;
background: rgba(200, 200, 200, .2);
clear: both;
line-height:35px;
border-radius: 10px;
color: #555;
border: 2px solid rgba(100, 100, 100, .1);
">

			    	{% if review_item %}
						{% raw review_item['value'].replace(' _ ', ' <section contenteditable="true" class="fill_in_section" id="fill_in_answer"></section> ' ) %}
					{% end %}
			    </section>
        </div>
	</div>

 </div>
	</div>
