				<div class="control-group" id="widget_preview_icon" style="padding-top:10px;">
		            <label class="control-label" id="widget_icon_type_label" for="thumbnail">Widget Preview Icon</label>
		      
								<div class="btn-group" id="widget_icon_type" >
								          <a id="media1"   class="active btn">
									<img src="/static/images/thumbnail/media1.png"/></a>
								  
										  <a id="media2" class="btn"><img src="/static/images/thumbnail/media2.png"/></a>
								            <a id="media3" class="btn"><img src="/static/images/thumbnail/media3.png" /></a>
				            	</div>
	
		     </div>
		
		<div class="control-group" style="margin:10px 0; padding: 10px 0;">
        <label class="control-label" for="quote_value">Quote Content</label>
        <div class="controls" style="margin:10px 0;">
	<img src="/static/images/quote.png" style="
    width: 50px;
    margin-top: 35px;
    margin-right: 8px;
">
            	<textarea style="width: 600px;
min-height: 200px;
font-size: 26px;
line-height: 31px;
padding: 10px;
" id="quote_value">{% if widget %}{{ widget.quote or "" }}{% end %}</textarea>
            	
          <p class="help-block" style="padding: 6px; margin-left:65px;
font-size: 13px;">Choose an interesting quote, message or summary for your readers to share</p>
        </div>
 </div>

<div class="control-group" id="auto_share" style="padding-top:10px; font-size:.8em;">
		 Automatically open share dialog for &nbsp;  <input type="checkbox" {% if widget and widget.twitter_share %}checked='checked'{% end %} id="twitter_share">  <b>Twitter</b> &nbsp; &nbsp; <input type="checkbox" {% if widget and widget.fb_share %}checked='checked'{% end %} id="facebook_share"> <b>Facebook</b>
	
		     </div>
		
 