		
				<div class="control-group" id="widget_preview_icon" style="padding-top:10px;">
		            <label class="control-label" id="widget_icon_type_label" for="thumbnail">Widget Preview Icon</label>
		      
								<div class="btn-group" id="widget_icon_type">
								          <a id="review1"   class="active btn">
									<img src="/static/images/thumbnail/review1.png"/></a>
								  
										  <a id="review2" class="btn"><img src="/static/images/thumbnail/review2.png"/></a>
								            <a id="review3" class="btn"><img src="/static/images/thumbnail/review3.png" /></a>
				            	</div>
	
		     </div>

		
<div class="review_item">
	
	<div id="review_intro" class="alert alert-warning" style="padding-right: 10px;
margin: 20px 0 30px;
font-size: 13px;
max-width: 537px;
text-align: center;">
<strong style="">Reader submissions to your reviews are saved so you can view them at any time</strong><!-- end strong -->
</div>

   <div class="control-group" style="height:72px;margin: 20px 0;{% if widget %}display:none;{% end %}">
		<div style="background: rgba(255, 255, 255, .6);
padding: 11px 0px 0px 6px;
border-radius: 10px;
width: 485px;
border: 3px solid rgba(100, 100, 100, .15);
margin-left: -10px;
margin-top: -7px;
clear: both;">
				           <label class="control-label" for="multiSelect" style="padding-left:12px;">Review Type</label>
				      
								<div class="btn-group" id="review_type" style="font-size: 25px;
								padding: 10px;
								width: 470px;
								clear: both;
								float: none;">
								
								<!-- TODO: refactor this for multiple items -->
								
								          <a id="multiple_choice"   class="{% if not widget or (widget and widget.review_type() == "multiple_choice") %}active{% end %} btn">Multiple Choice</a>
								  
										  <a id="fill_in" class="  {% if widget and widget.review_type() == "fill_in" %}active{% end %} btn">Fill-in-the-blank</a>
								            <a id="short_answer" class="  {% if widget and widget.review_type() == "short_answer" %}active{% end %} btn">Short Answer</a>
				            	</div>
			</div>
	</div>	

	<div id="review_type_sections" style="margin-top:35px;">
		{% comment "refactor this to iterate over widget.form_fields %}
{% if widget %}
	{% for review_item in widget.form_fields %}
	
		{% if review_item['type'] == 'multiple_choice' %}
			{% include "multiple_choice.html" %}
		{% end %}
		{% if review_item['type'] == 'fill_in' %}
			{% include "fill_in.html" %}
		{% end %}
		{% if review_item['type'] == 'short_answer' %}
			{% include "short_answer.html" %}
		{% end %}
		
	{% end %}	
{% else %}		
{% set review_item = False %}
		{% include "multiple_choice.html" %}
		{% include "fill_in.html" %}
		{% include "short_answer.html" %}
{% end %}
	</div>
		
</div>	
