				<div class="control-group" id="widget_preview_icon" style="padding-top:10px;">
		            <label class="control-label" id="widget_icon_type_label" for="thumbnail">Widget Preview Icon</label>
		      
								<div class="btn-group" id="widget_icon_type" >
								          <a id="media1"   class="active btn">
									<img src="/static/images/thumbnail/media1.png"/></a>
								  
										  <a id="media2" class="btn"><img src="/static/images/thumbnail/media2.png"/></a>
								            <a id="media3" class="btn"><img src="/static/images/thumbnail/media3.png" /></a>
				            	</div>
	
		     </div>
		
<div class="alert alert-info" style="max-width: 660px;
margin: 20px 0 30px;padding-top: 22px;padding-bottom: 21px;"><b>Share Highlights</b> let your readers share their book highlights with friends<div style="height:10px;"></div><div style="font-size: 13px;
font-style: italic;">Readers can choose from highlights they have already made or can select from popular highlights</div></div>



<div class="control-group" id="widget_media_wrapper" style="
margin: 40px 0 0;display:none;
clear: both;">
		<div style="background: rgba(255, 255, 255, .6);
padding: 11px 0px 15px 6px;
border-radius: 10px;
border: 3px solid rgba(100, 100, 100, .15);
margin-left: -10px;
margin-top: -7px;
clear: both;">
   <h4 class="form_group_title" style="background: rgba(200, 200, 200, 1);
float: left;
border-width: 2px;
margin-left: 12px;
margin-top: -26px;
margin-bottom: 20px;">Book Highlight &nbsp; <span style="
    font-size: 12px;
    color: #777;
">optional</span></h4>
	
		
			{% set reward = False %}
			{% include "media/media_inner.html" %}
			
			<!-- "Just share the book, no  highlight" option -->
		</div></div>
		
		
			{% set reward = True %}
	{% include "widget_reward.html" %}	

			
       <div class="control-group" style="margin:31px 0 -24px;">
	<div style="
background: rgba(255, 255, 255, .6);
padding: 9px 0px 33px 6px;
border-radius: 10px;
width: 600px;
border: 3px solid rgba(100, 100, 100, .15);
margin-bottom: 54px;
margin-left: -10px;
">
   <h4 class="form_group_title" style=" background: rgba(200, 200, 200, 1);
float: left;
border-width: 2px;
margin-left: 12px;
margin-top: -26px;
margin-bottom: 20px;">Social Sites</h4>

<div class="btn-group" id="social_options" style="font-size: 25px;
padding: 22px 10px 0px 160px;
width: auto;
clear: both;
float: none;">

<img src="{% if widget %}/static/images/social/{% if widget.facebook_share %}facebook{% end %}{% if widget.twitter_share %}twitter{% end %}{% if widget.google_share %}google{% end %}.png{% else %}/static/images/social/facebooktwittergoogle.png{% end %}" style="width: 120px;
height: 90px;
position: absolute;
margin: -23px -148px;" />
<!-- TODO: refactor this for multiple items -->
<a id="facebook" class="{% if not widget or widget.facebook_share %}active{% end %}  btn btn-large">Facebook</a>
<a id="twitter" class="{% if not widget or widget.twitter_share %}active{% end %} btn btn-large">Twitter</a>

<a id="google" class="{% if not widget or widget.google_share %}active{% end %}   btn btn-large">Google+</a>
</div>
<div class="preview_wrapper" style="display:none;">
     <label class="control-label">Preview:</label>
</div>
</div>

	   <!-- Select one social site to automatically initiate sharing action -->  
	     	
	     </div>
	
	
	
