


<div class="well" id="about" style="text-align:center;">





<div style="height:3px;"></div>
<div class="well" style="margin: 20px 50px 0; padding: 10px 17px; font-size:.8em;background: rgba(200,200,200,.1);">
<h3 style="line-height:32px;color:#666;font-size: 15px;">Passbook: A New Channel for Mobile Marketing</h3>
<p><a href="http://www.apple.com/ios/whats-new/#passbook" target="_blank">Apple Passbook<sup style="font-size: 11px;margin-right: -1px;top: -7px;">®</sup></a> is where iPhone and iPod Touch owners save and access boarding passes, tickets, loyalty cards and coupons.
</p> Fortune 500 companies such as Starbucks and startups like AirBnb and Eventbrite are now offering support for Passbook and taking advantage of Passbook features such as push notifications.<p></p>
<p> <b>Passbook is the only way for mobile marketers to send push notifications to customers without an app installed.</b>
</p></div>

<div style="height:20px;"></div>

<h3 style="line-height:32px;color:#666;font-size:21px;">Passtiche Instantly Generates Passbook Badges</h3>
</p>Passtiche makes it easy to create badges linking to Passbook passes.</p>

<p>Already have a pass file? Just link to the file and the badge will appear.</p>

<p>If you don't already have passes, you can generate them from simple link attributes and third-party APIs will be used to get extra info.</p>
<p>Passtiche badges open a dialog that previews the pass. The pass can be downloadeded via SMS/email from any device and shared with friends.</p>

<div style="height:20px;"></div>

<h3 style="line-height:32px;color:#666;font-size:21px;">Create Your Own Passes &amp; Engage Customers</h3>
</p>Setting up your own Passbook passes is difficult and highly technical.<p>
<p>Passtiche offers the easiest way to create your own Passbook passes.</p>
<p> Include the Passtiche javascript library on your website to create customized pass content simply by adding a few attributes to links.</p>
<p>Third-party APIs are used to make it especially easy to create new passes. Just specify a venue name and other info will be retrieved.</p>
<p> You can use the Passtiche Dashboard to manage time and location-based push notifications and customize the appearance of passes.</p>


<div style="height:30px;"></div>
<div style="height:210px;">
  <a href="/docs" target="_blank">
<img style="width: 300px;
float: left;" class="img-polaroid" src='/static/images/docs_screenshot.png'/>
<h3 style="
    margin: 101px 6px 0 0;
    float: right;
">Read the Docs!</h3>
</a>
</div>

<div style="height:20px;"></div>


<form id="enduser_form" class="sign_up_form form-inline">
<div id="before">
<input type="text" style="font-size: 23px; padding: 8px; line-height: 26px; width: 290px; background-image: none; background-position: 0% 0%; background-repeat: repeat repeat;" placeholder="email address" id="email">
<a class="btn btn-primary submit_email" style="
float: right;
margin: 0 12px;
font-size: 23px;
padding: 8px 14px;
">Submit</a>
</div>
<div id="after" style="display:none;">Thanks! We'll be in touch. </div>
</form>
<h3 style="text-align:center;">Get in touch: <a href="mailto:info@passtiche.appspot.com">info@passtiche.appspot.com</a></h3>

<h5>Passtiche is not affiliated with Apple Inc. Passbook and all other Apple product names are trademarks or registered trademarks of Apple Inc. </h5>
</div>

   