


<div class="well" id="about" style="text-align:center;">





<div style="height:3px;"></div>
<h3 style="line-height:32px;color:#666;font-size:21px;">Passbook: A New Channel for Mobile Marketing</h3>
<p><a href="http://www.apple.com/ios/whats-new/#passbook" target="_blank">Apple Passbook<sup style="font-size: 11px;margin-right: -1px;top: -7px;">®</sup></a> is where iPhone and iPod Touch owners save and access boarding passes, tickets, loyalty cards and coupons.
</p> Fortune 500 companies such as Starbucks and startups like AirBnb and Eventbrite are now offering support for Passbook and taking advantage of powerful marketing features that include push notifications and location-based reminders. <b>Passbook is the <i>only</i> way for local marketers to use push notifications without an app installed.</b>


<div style="height:20px;"></div>

<h3 style="line-height:32px;color:#666;font-size:21px;">Passtiche Generates an Add to Passbook Badge</h3>
</p>Setting up your own Passbook server is time-consuming, difficult, and highly technical.</p><p> Passtiche provides the marketing benefits of Passbook with simple code snippets you can add to your website in a few minutes.</p>

<div style="height:20px;"></div>

<h3 style="line-height:32px;color:#666;font-size:21px;">Passtiche Generates Passbook Content</h3>
</p>Setting up your own Passbook server is time-consuming, difficult, and highly technical.</p><p> Passtiche provides the marketing benefits of Passbook with simple code snippets you can add to your website in a few minutes.</p>

<div style="height:20px;"></div>





<form id="enduser_form" class="sign_up_form form-inline">
<div id="before">
<input type="text" style="font-size: 23px; padding: 8px; line-height: 26px; width: 290px; background-image: none; background-position: 0% 0%; background-repeat: repeat repeat;" placeholder="email address" id="email">
<a class="btn btn-primary submit_email" style="
float: right;
margin: 0 12px;
font-size: 23px;
padding: 8px 14px;
">Submit</a>
</div>
<div id="after" style="display:none;">Thanks! We'll be in touch. </div>
</form>
<h3 style="text-align:center;">Get in touch: <a href="mailto:info@passtiche.com">info@passtiche.com</a></h3>
</div>

   