
<!DOCTYPE html>
<!--[if lt IE 7]><html dir="ltr" lang="en-US" class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html dir="ltr" lang="en-US" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html dir="ltr" lang="en-US" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html dir="ltr" lang="en-US" class="no-js"><!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <title>Costanza</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='/static/css/costanza/style.css' rel='stylesheet' type='text/css' />
  <!--[if IE]>
  <script src='http://use.typekit.com/flt1fjp.js'></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <![endif]-->
</head>
<body>

  <div class="color-change" id="left"></div>
  <div class="color-change" id="right"></div>
  <div class="color-change" id="top">
    <img src="/static/images/costanza/home.png" class="home" />
    <!-- <span class="table-contents">Table of Contents</span> -->
  </div>
  <div class="color-change" id="bottom"></div>

  <div class='navigation'>
  <table>
    <tbody>
      <tr>
        <td class='intro'><a href="#introduction">Introduction</a></td>
      </tr>
      <tr>
        <td class='preface'><a href="#preface">Preface</a></td>
      </tr>
      <tr>
        <td class='rules'><a href="#rules-for-work">Rules for Work</a></td>
      </tr>
      <tr>
        <td class='communication'><a href="#communication">Communication</a></td>
      </tr>
      <tr>
        <td class='structure'><a href="#structure-teams">Structure &amp; Teams</a></td>
      </tr>
      <tr>
        <td class='value'><a href="#what-we-value">What We Value</a></td>
      </tr>
      <tr>
        <td class='space'><a href="#our-work-space">Our Work Space</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div id='introduction'>
  <div id='intro'></div>
  <div class='layout-full' id='4383c5'>
    <div class='introduction'>
      <a href="http://about.zaarly.com" target="_blank"><img src="/static/images/zaarly.png" class="zaarly" /></a>
      <h2>Employee Handbook</h2>
      <p>We exist, as a company, to enable people everywhere to make money doing what they love.</p>
      <p>So we better love what we do.</p>
      <p><a href="http://about.zaarly.com" target="_blank">Learn more about Zaarly.</a>
      <!-- <p class='credits'>
        Content by Bo Fishback.
        <br>Design and programming by Marco Suarez.</br>
        Javascripting by Mason Stewart.
      </p> -->
    </div>
    <div class='spacer'></div>
    <div class='spacer'></div>
  </div>
</div>

<div id='preface'>
  <div class='layout-full' id='b1ab87'>
    <div class='header'>
      <h1>Preface</h1>
      <img src="/static/images/costanza/preface.jpg" class="preface" />
    </div>
    <div class='text-container'>
      <p>Not every company has the opportunity to meaningfully and directly impact individuals in a way that makes their lives tangibly better. Lots of companies believe that through a series of semi-connected transactions they are improving something or inventing something new and, in that moment, they are making someone’s life better. Other companies subscribe to the philosophy that through making their company a success they are improving the lives of the people who work there by providing a steady paycheck and benefits. Much of that sentiment is what makes building a company, really, any company at all, a justifiable effort. Otherwise, we’d all be working for riskless giant enterprises or the government.</p>
      <p>But occasionally companies are born that get to tackle something different, something that transcends the usual beliefs about capitalism and the economy, and something that has the chance to create new opportunities for millions. That is what we’re building at Zaarly.</p>
      <p>We are building something that could quite literally create a new economy and transform lives by connecting people. We work for those people. If we do our job well, we’ll create something that matters as much to them as it does to us, and all of our lives will be better for it.</p>
      <p>We have an opportunity that is rare. Let’s make the most of it together.</p>
      <p>Bo Fishback</p>
    </div>
  </div>
</div>

<div id='rules-for-work'>
  <div class='layout-full' id='3e5155'>
    <div class='header'>
      <h1>Rules for Work</h1>
      <img src="/static/images/costanza/rules.jpg" class="preface" />
    </div>
    <div class='text-container'>
      <h2>We do not have these.</h2>
      <p>We’ve been trying to figure out exactly what they are since we started… but we’ve come up empty.</p>
      <p>That said, one of the things we’ve learned is that, in a vacuum, policies, dogmas and rules occasionally seem to invent themselves. In order to combat this “birth of imaginary policies” we’ve found it helpful to specifically articulate some areas at Zaarly where we explicitly protect ourselves from the spontaneous eruption of rules.</p>
      <p>A few examples…</p>
      <ul>
        <li>We do not have a vacation policy.</li>
        <li>It does not matter what time you get to work and it does not matter what time you leave.</li>
        <li>You may work from anywhere that you feel you can be most productive.</li>
        <li>You may speak to, call, email or have a meeting with anyone. Even if it’s your first day. Even if you don’t know their name. Even if they have a mustache.</li>
        <li>We will never implement any sort of expectations around what you wear, but we maintain all rights to mock your future mother-in-law’s choice of clothes if you choose to wear them to the office.</li>
      </ul>
      <p>For some people this means they need to be in the thick of conversations, standing in front of a whiteboard, or huddled up around a computer screen with another person. For others, it means being plugged into their computer with their headphones on banging out to some Skrillex or, in the case of a few, to the melodic charms of Celine Dion. Sometimes it means that a busy coffee shop or a pajama-wearing work-from-home day is where the magic happens.</p>
      <p>Whatever it is, it’s cool.</p>
      <p>Also, it is a place where the guys frequently use the women’s bathroom.</p>
      <p>The consequence of this non-policy policy is that your work must speak for itself. It’s not about face-time, a race to the office in the morning, or a competition to see who can be there the latest… output is what matters. Zaarly is not a place to hide. It is a place to produce.</p>
      <p>If you want to coast, we recommend you apply for a job at <a href="http://sfbay.craigslist.org/jjj/" target="_blank">Craigslist</a></p>
    </div>
  </div>
</div>

<div id='communication'>
  <div class='layout-full' id='72832e'>
    <div class='header'>
      <h1>Communication</h1>
      <img src="/static/images/costanza/communication.jpg" class="preface" />
    </div>
    <div class='text-container'>
      <h2>FACT: 9 out of 10 internal conflicts arise within companies due to a lack of communication, under-communication or miscommunication. The other 1 out of 10 is usually attributable to a misinterpretation of the term “social media expert”, which quite honestly may never be resolved.</h2>
      <p>Given the importance of great communication and its rampant level of abuse, we’ve assembled this simple guide. We hope it will be helpful in your day to day work.</p>
      <p>The following styles and formats for communication are listed in the order in which they should be employed when dealing with co-workers.</p>
      <ol>
        <li>In-person, face-to-face, full eye-contact communication. I know, this sounds crazy, but if it were possible to restrict all communication to this channel the world would almost certainly be a happier place.</li>
        <li>Talking to someone who is in front of you while making at least occasional eye contact. This is more comfortable for some people than direct eye-contact, but still accomplishes the primary goal of communication. If hand waving, foot shuffling, or occasional twitches are helpful in this format of communication then please feel free to enlist them.</li>
        <li>A phone/video call. If you just can’t be in the same room and it can’t wait. Video slightly trumps phone in most cases but given that even in 2012 it seems as though the intertubes hates good video quality, they can basically be assumed to be a tie after you account for dropped connections and calls. Both tone and intent suffer when using these channels compared to the previous two.</li>
        <li>Sign language. Not everyone knows it, but the simple fact that you must be able to see the counterparty in a sign language conversation means that it is a step up from the next two options.</li>
        <li>A quick note in a messaging app to get some quick information or to request some version of number one or number two above. Also, this format has proven hugely effective for creating one of the most impressive burgeoning collections of memes ever assembled by one team. This channel is devastatingly terrible for presenting any sort of depth or emotion to a conversation. If it can be read wrong, it will be read wrong.</li>
        <li>An email to recap a conversation, prepare for an upcoming number one or number two (stop laughing, if you’re reading this you’re not 12 years old), or a broadcast of information that needs to be shared with more people than can comfortably fit in a conference room. Needless to say, you must assume the most negative tone possible when utilizing this form of communication.</li>
      </ol>
      <p>The more you care about an issue, the more important it is make number one or two the starting place for communication.</p>
      <p>We are very happy to pay for plane tickets -- if you’re not in the same room as someone that you need to talk to, one of you needs to change that. Disagreements that have not been addressed IRL will be promptly dismissed as misunderstandings until an actual conversation has taken place.</p>
      <p>The result is improved communication, and that makes all of us better.</p>
    </div>
  </div>
</div>

<div id='structure-teams'>
  <div class='layout-full' id='9fb44d'>
    <div class='header'>
      <h1 class='smaller'>
        Structure &
        <br>Teams</br>
      </h1>
      <img src="/static/images/team.jpg" class="preface" />
    </div>
    <div class='text-container'>
      <p>Companies are nothing more than collections of people. If those people work together effectively the chance of creating something awesome goes way up. If they don’t, it doesn’t. It’s really that simple.</p>
      <p>That said, there are a million different ways to work together, and if we’ve learned anything at Zaarly, it’s that goals change, people change, and organizations change. So before anything, expect change and be ready to go with the flow.</p>
      <ul>
        <li>We try to keep our organization as flat as possible.</li>
        <li>We love to quickly form small teams to attack big problems.</li>
        <li>We believe that even small teams need leaders and that anyone can lead.</li>
      <p>Rigid org charts will never survive the realities of building a great company. For this to work we need flexible people who are capable of being both self-directed and highly communicative with those around them. In this environment, structure exists to provide clarity about responsibilities and empower individuals to do their best work. If you’re not sure where you fit or are curious about another team, just ask.</p>
      <p>We are loosely organized into these teams...</p>
      <ul>
        <li>People who find our amazing sellers and help them create beautiful content.</li>
        <li>People who build products to help those sellers make money doing what they love.</li>
        <li>People who tell the story of our marketplace to the world.</li>
        <li>People who make it possible for these first three groups to thrive.</li>
      </ul>
      <p>
        Everyone lives on at least one of these four teams.
        <br>Everyone is responsible for helping all four teams succeed.</br>
      </p>
    </div>
  </div>
</div>

<div id='what-we-value'>
  <div class='layout-full' id='e56153'>
    <div class='header'>
      <h1>What We Value</h1>
      <img src="/static/images/costanza/value.jpg" class="preface" />
    </div>
    <div class='text-container'>
      <p><span class="bold">Customer voice.</span> Every company says something like this but more often than not it rings pretty hollow. In our case, it can’t.</p>

      <p>We live at the center of two-sided marketplace where we don’t have outright control over either side. We don’t have inventory sitting on our shelves. We don’t get to be there in person every time a purchase is made or a transaction is completed. 

      <p>All this just means that we have to be beyond amazing at listening to our customers and listening to our market if we are going to even have a chance at changing their lives for the better. There are lots of ways to hear our customers voice, in rank order of importance we value:</p>
      <ol>
        <li><span class="bold">Data.</span> There’s nothing easier to act on than clear data. We’ve got it, and we use it. When we don’t, let’s see if we can get it. If we can’t, see number two. We’re getting better at this everyday but we’ve still got a long way to go. Until we really nail this, remember that definitive data ends all arguments. It helps us get back to building something important faster. It removes friction and leads to progress. You don’t have to be a data scientist to appreciate that.</li>
        <li><span class="bold">Direct Customer Feedback.</span> Our support channels are broader and more far-reaching than the emails to support at zaarly dot com. We get to lean on customer feedback from live chat, social channels, one-on-one emails, conversations, and even storefront owners showing up at our home or office. That’s actually pretty amazing... our customers, on a somewhat regular basis, come to our office and our homes in a way that never would have happened were it not for Zaarly. Seize that. It would be a tragedy to see the high-touch nature of our marketplace go to waste when it comes to making our product and experience better.</li>
        <li><span class="bold">Our gut.</span> I know, I know... some days you think you’re Steve Jobs and you just instinctually know what the customer wants before they can dream it. That’s ok. We all have those days. Then we see data or talk to some customers and we realize just how hard it must have been to be Steve Jobs. There is a time and a place for this -- when we have no data or when we just can’t get good customer feedback. Going with your gut leads to some of the most brilliant insights and biggest blunders. It’s also the best way to assure the most possible friction in a company that has plenty to do beyond debating who most closely resembles the reincarnation of Steve.</li>
      </ol>  

      <p><span class="bold">Prioritization.</span> Doing one thing extremely well will beat doing five things with mediocrity every day of the week. We’ve learned the hard way that the best way to get nothing done is to try and do everything. </p>

      <p>We’re a huge fan of lists. The shorter the better. </p>
      <ul>
        <li>It’s ok to spend time making sure you’ve got the right priorities.  
        <li>It’s ok to talk to half the company to get feedback before you lock in what’s next. 
        <li>It’s ok to pursue that list with little regard for the shiny new project that someone needs help with. 
        <li>Just don’t be an asshole. 
      </ul>

      <p><span class="bold">A sense of urgency.</span> Priorities are great. The right priorities are really great. None of it matters if things don’t move off the list. We prefer short, clearly addressable projects. If we can’t see progress measured in days, or at worst weeks, we should be taking a hard look at what we’re tackling. It’s nearly impossible to maintain a sense of urgency over a three month project. Breaking things down into digestible steps give all of us a shot at being able to see a finish line and focus on finishing strong. </p>

      <p><span class="bold">Attitude.</span> “You must never confuse faith that you will prevail in the end (which you can never afford to lose) with the discipline to confront the most brutal facts of your current reality, whatever they might be.” - Jim Collins</p>

      <p>A realistic view of the present and an optimistic perspective on what’s possible is at the heart of nearly every great company ever built.  Life is simply too short to spend it working with people who aren’t in the pursuit of something better and who don’t wholeheartedly believe it’s possible. We want to work with people that we genuinely like to be around. That starts with attitude.</p>
    </div>
  </div>
</div>
<div class='spacer'></div>

<div id='our-work-space'>
  <div class='layout-full' id='7a2b2b'>
    <div class='header'>
      <h1>Our Workspace</h1>
      <img src="/static/images/costanza/workspace.jpg" class="preface" />
    </div>
    <div class='text-container'>
      <h2>We have a workspace in San Francisco.</h2>
      <p>It’s in the heart of everything that is wonderful and terrible about this lovely town. We have pretty monitors and very fancy chairs that will prevent aging if you sit in them long enough.</p>
      <p>It is a place that great work happens and a place that can prevent you from doing great work all at the same time. Use it as if it is truly yours… an extension of your house. Or maybe better, an extension of your parent's house. It’s a place where you can feel ultimately comfortable but must take responsibility for your presence and your usage. Treat it like your own, because it is your own.</p>
      <p>As much as anything, our office is a social space for our team to spend time together, eat together, have small and large group conversations and inspire each other.</p>
      <ul>
        <li>Our office exists to help us move fast and be happier.</li>
        <li>It’s a place where whiteboards get used and disagreements end in clear decisions.</li>
        <li>It’s a place to witness the incredible power of an idea moving from a whiteboard to reality right in front of your eyes.</li>
        <li>It’s a powerful reminder to see a Zaarly Seller show up to the office toting something awesome for our team.</li>
        <li>Work happens anywhere, collaboration happens here, in the office we call home.</li>
      </ul>
   
      <div class='spacer'></div>
    </div>
  </div>
</div>



  <script src='/static/js/jquery.1.7.2.min.js'></script>
  <script src='/static/js/underscore.js'></script>
  <script src='/static/js/costanza/jquery.fittext.js'></script>

  <script type="text/javascript">

  (function() {

  $(document).ready(function() {
    var $window, colorChange, sections;
    $(".navigation td").fitText(0.2, {
      minFontSize: '30px',
      maxFontSize: '40px'
    });
    $('#top span, .home').click(function() {
      return $('.navigation td').each(function(index) {
        var _this = this;
        return setTimeout((function() {
          return $(_this).addClass('active');
        }), index * 50);
      });
    });
    $('td a').click(function() {
      return $('.navigation td').each(function(index) {
        var _this = this;
        return setTimeout((function() {
          return $(_this).removeClass('active');
        }), index * 50);
      });
    });
    $window = $(window);
    colorChange = $('.color-change');
    sections = $('.layout-full').get().reverse();
    return $window.scroll(function() {
      var section, _i, _len, _results;
      _results = [];
      for (_i = 0, _len = sections.length; _i < _len; _i++) {
        section = sections[_i];
        if ($window.scrollTop() - $(section).offset().top > -100) {
          colorChange.css({
            'background-color': '#' + $(section).attr('id')
          });
          break;
        } else {
          _results.push(void 0);
        }
      }
      return _results;
    });
  });

}).call(this);

  // analytics
  </script>
</body>
</html>
