
<!DOCTYPE html>
<!--[if lt IE 7]><html dir="ltr" lang="en-US" class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html dir="ltr" lang="en-US" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html dir="ltr" lang="en-US" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html dir="ltr" lang="en-US" class="no-js"><!--<![endif]-->
<head>
  <meta charset="UTF-8" />
  <title>Costanza</title>
  <meta name="viewport" content="width=800,user-scalable=no">

   
  <link href='/static/css/costanza/style.css' rel='stylesheet' type='text/css' />
  <!--[if IE]>
  <script src='http://use.typekit.com/flt1fjp.js'></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <![endif]-->
</head>
<body style="min-width:780px;background-color: #EEE;
background-repeat: repeat-x;
background-image: -moz-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,whiteSmoke), color-stop(100%,#EEE));
background-image: -webkit-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
background-image: -ms-linear-gradient(top, whiteSmoke 0%,#EEE 100%);">

<!--  <div class="color-change" id="left"></div>
  <div class="color-change" id="right"></div>
  <div class="color-change" id="top"> 
    <img src="/static/images/costanza/home.png" class="home" />
  </div>
  <div class="color-change" id="bottom"></div>-->

   <div class="color-change" id="top">  <img src="/static/images/costanza/home.png" class="home" />
</div>
  <div class='navigation'>
  <table>
    <tbody>
     <!-- <tr>
        <td class='intro'><a href="#introduction">Costanza</a></td>
      </tr>
      <tr>-->
        <td style='background-color: #EEE;
background-repeat: repeat-x;
background-image: -moz-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,whiteSmoke), color-stop(100%,#EEE));
background-image: -webkit-linear-gradient(top, whiteSmoke 0%,#EEE 100%);
background-image: -ms-linear-gradient(top, whiteSmoke 0%,#EEE 100%);'><a href="#mission"><img style="width: 420px;" src="/static/images/costanza/costanza_icon_text.png" /></a></td>
      </tr>
      <tr>
        <td class='rules'><a href="#projects">Our Projects</a></td>
      </tr>
      <!--<tr>
        <td class='communication'><a href="#communication">Communication</a></td>
      </tr>-->
      <tr>
        <td class='wrong'><a href="#team">About Us</a></td>
      </tr>
      <tr>
        <td class='value'><a href="#jobs">Work With Us</a></td>
      </tr>
      <tr>
        <td class='space'><a href="#contact">Contact Us</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div id='introduction'>
  <div id='intro'></div>
  <div class='layout-full' id='4383c5'>
    <div class='introduction'>
      <a ><img style="width: 660px;
margin-left: -128px;" src="/static/images/costanza/costanza_icon_text.png" /></a>





       <!-- <h2>Employee Handbook</h2>
      <p>We exist, as a company, to enable people everywhere to make money doing what they love.</p>
      <p>So we better love what we do.</p>
      <p><a href="http://about.zaarly.com" target="_blank">Learn more about Zaarly.</a>
      -->

    </div>
  <!--  <div class='spacer'></div>
    <div class='spacer'></div> -->
  </div>
</div>

<div id='mission'>
  <div class='layout-full' id='b1ab87' style="margin-top:20px;">
    <div class='header'>

      <img src="/static/images/costanza/mission.png" class="preface" />
   <h1 class="smaller">Mobile Wallets, Made Simple.</h1>
    </div>
    <div class='text-container'>
      <h2>The mobile wallet revolution has arrived.</h2>
      <p >Millions of businesses are now beginning to adopt mobile wallet technology.</p><p>Within a few years, mobile payments will have powered <a href="http://www.idc.com/getdoc.jsp?containerId=prUS23787412" target="_blank">over a trillion dollars in transactions</a> in both developing and emerging markets, and mobile wallets will be used for most of the new store cards and loyalty cards used by shoppers.</p>
      <p>And the rate of mobile wallet adoption will increase as these wallets develop deep integration with mobile assistant apps like <a>Apple Siri</a> and <a>Google Now</a>.</p>
      <br/>
 <h2>Dozens of competing solutions</h2>
 <p>There is Apple Passbook, Google Wallet, and Windows Phone 8 Wallet. Square, Paypal, and dozens of smaller startups offering solutions. Mobile carriers are backing Isis. Credit card companies are backing V.me. And there are several international mobile wallet platforms like M-Pesa and Verafone SailPay.</p><p> This large and growing array of options is resulting in confusion for shoppers and burdensome support challenges for businesses and app developers.</p>
 <br/>
  <h2>A solution for simplicity</h2>
  <p>Costanza isn't a mobile wallet. It's a platform that simplifies mobile wallets, so that shoppers and businesses can focus on their transactions without getting hung up on which type of mobile wallet solution they need to use.</p>

    </div>
  </div>
</div>

<div id='projects'>
  <div class='layout-full' id='3e5155' style="margin-top:-45px;">
    <!--   <div class='header'>

   <img src="/static/images/costanza/projects.png" class="preface" />
      <h1>Our Projects</h1>
    </div>-->
    <div class='text-container'>
      <div>
  <a href="http://www.passtiche.com" class="btn" style="text-decoration:none;">
  <img style="width:300px;" src="/static/images/logo/logo_black_text.png"/>
  <h2 style="font-size:18px;margin-bottom:5px;">Passbook Badges for your Website</h2>
</a>
</div>
<br/>
      <p>Our first product is called <a>Passtiche</a>. It's an online tool and SDK that makes it easy to instantly generate custom Passbook content with <i>Add to Passbook</i> badges that help customers preview and download the passes from any device.</p>
      <p>Check out the <a href="http://www.passtiche.com/docs">documentation</a> to get started.</p>

    </div>
  </div>
</div>



<div id='team'>
  <div class='layout-full' id='9fb44d'>
    <div class='header'>

      <img style="-webkit-filter: grayscale(0.6) blur(7px)"src="/static/images/costanza/team.png" class="preface" />
      <h1>
       About Us
      </h1>
    </div>
    <div class='text-container'>
      <p>Costanza is based in San Francisco.</p><p> Our founding team previously built products at Google and Turntable.fm, and we are now backed by some of the world's top venture investors. </p>
  </div>
</div>

<div id='jobs'>
  <div class='layout-full' id='e56153'>
    <div class='header'>

      <img src="/static/images/costanza/jobs.png" class="preface" />
      <h1>Work With Us</h1>
    </div>
    <div class='text-container'>

  

  <h2>Our Philosophy</h2>


<p>We are a small team working on big problems. We believe that the highest-quality work is done amidst a comfortable and fun working culture, so we've setup a few guidelines and traditions to help create the culture we need for our best work: </p>

<ul>
  <li>Take as much vacation time as you need, whenever you need it.</li>
  <li>Work whenever and from wherever you can be productive.</li>
  <li>Occasional all-expenses-paid working offsites in exotic destinations.</li>
<ul>

<p>All employees are also given monthly credit for <a>Exec</a> and <a>TaskRabbit</a> so you don't need to worry about laundry and dry cleaning, house cleaning, etc. </p>
<br/>
<h2>Open Positions</h2>

<p><i>Each position comes with generous salary/equity packages, health insurance, gym membership, and a brand-new Macbook Pro and monitor of your choice.</i></p>
<p><i>To apply, email <a mailto="jobs@costanza.co">jobs@costanza.co</a> with a resume and a short cover letter.</i></p>

<br/>
<h4>Full Stack Engineer</h4>

<p>You must be comfortable working with python/django or other scripting languages, creating APIs, and using frontend development technologies like Javascript and CSS. You have experience with linux administration and database maintenance, and optimizing for high-scalability environments.</p>
<br/>
<h4> Mobile (iOS or Android) Engineer</h4>
<p>Lead development on our Android or iOS products, and create the infrastructure needed for testing, prototyping, and development.</p> 
<br/>
<h4>Growth Hacker</h4>
<p>This is a three month contract with the option to convert to a full-time role. You have a passion for marketing and PR, and you can create new customer acquisition strategies and implement new retention tactics. You prefer to quantitatively measure your efforts to analyze progress, understand A/B testing and cohort analysis, and you're a hustler who just doesn't give up.</p>

    </div>
  </div>
</div>
<div class='spacer'></div>

<div id='contact'>
  <div class='layout-full' id='7a2b2b'>
    <div class='header'>

      <img src="/static/images/costanza/contact.png" class="preface" />
      <h1>Contact Us</h1>
    </div>
    <div class='text-container'> 
      <p>For now you can email us: <a mailto="team@costanza.co">team@costanza.co</a>.</p>
      <p>We'll have a media kit and social media profiles available soon.</p>
   
      <div class='spacer'></div>
    </div>
  </div>
</div>



  <script src='/static/js/jquery.1.7.2.js'></script>
  <script src='/static/js/underscore.js'></script>
  <script src='/static/js/costanza/jquery.fittext.js'></script>

  <script type="text/javascript">

  (function() {

  $(document).ready(function() {
    var $window, colorChange, sections;
    $(".navigation td").fitText(0.2, {
      minFontSize: '30px',
      maxFontSize: '40px'
    });
    $('#top span, .home').click(function() {
      return $('.navigation td').each(function(index) {
        var _this = this;
        return setTimeout((function() {
          return $(_this).addClass('active');
        }), index * 50);
      });
    });
    $('td a').click(function() {
      return $('.navigation td').each(function(index) {
        var _this = this;
        return setTimeout((function() {
          return $(_this).removeClass('active');
        }), index * 50);
      });
    });
    $window = $(window);
    colorChange = $('.color-change');
    sections = $('.layout-full').get().reverse();
    return $window.scroll(function() {
      var section, _i, _len, _results;
      _results = [];
      for (_i = 0, _len = sections.length; _i < _len; _i++) {
        section = sections[_i];
        if ($window.scrollTop() - $(section).offset().top > -100) {
          colorChange.css({
            'background-color': '#' + $(section).attr('id')
          });
          break;
        } else {
          _results.push(void 0);
        }
      }
      return _results;
    });
  });

}).call(this);

  // analytics
  </script>
</body>
</html>
