   <div id="developers">
      <h1>Create Mobile Wallet Items For Local Activities &amp; Offers</h1>
      <div style="margin-top:20px;">
		
		<h5>Generating a local activity pass is as easy as specifying a location name<br/> like "Joe's Crab Shack" with optional activity details and coordinates.</h5>
		<h5>Here are some more features of Passtiche for Developers:</h5>
			<ul style="margin-top:20px;margin-left:34px;">
			<li><h5 style="font-size:16px;">Available as iOS/Web SDK and Secure REST API</h5></li>
			<li><h5 style="font-size:16px;">Specify an activity or use recommended activities</h5></li>
			<li><h5 style="font-size:16px;">Visual editor for customizing your pass templates</h5></li>
			<li><h5 style="font-size:16px;">Update your passes at any time via the REST API</h5></li>
			<li><h5 style="font-size:16px;">Track campaign performance with detailed analytics</h5></li>			
			<li><h5 style="font-size:16px;">Monetize from personalized local coupon offers</h5></li>
		</ul>
		
    </div>


     <form id="developer_form" class="sign_up_form form-inline">
        <div id="before">
               <input type="text" style="font-size: 23px;
padding: 8px;
line-height: 26px;
width: 340px;" placeholder="email address" id="email"></input>
<div style="margin: 20px 0 0;" >
<span class="radio inline">I'm a</span> &nbsp; <label class="checkbox inline">
  <input type="checkbox" id="inlineCheckbox1" class="dev_type" value="merchant"> Local Business
</label>
<label class="checkbox inline">
  <input type="checkbox" id="inlineCheckbox2" class="dev_type"  value="publisher"> App Publisher
</label>
<label class="checkbox inline">
  <input type="checkbox" id="inlineCheckbox3" class="dev_type" value="other"> Other
</label>
</div>

<a class="btn btn-primary submit_email" style="
    float: right;
    margin: -66px 8px;
    font-size: 23px;
    padding: 8px 14px;
">Submit</a>
</div>
<div id="after" style="display:none;">Thanks! We'll be in touch. </div>
          </form>