<div id="footer" class="footer navbar-inverse" style=" height: 42px;
overflow-x:hidden;bottom:0;color:white;
position: absolute;
width: 100%;">
    
  <div class="container navbar-inner" style="width: 100%;
border-radius: 0;">
    
    <div class="row" style="margin:13px 0 0 70px;">
      
      <div class="span6">
        © 2012 <a style="color: #CCC;
font-size: 1.1em;" href="http://www.costanza.co" target="_blank"><img src="/static/images/costanza/costanza_logo_white_small.png" style="
    width: 80px;
    margin-top: -5px;
"></a>, all rights reserved.
      </div> <!-- /span6 -->
      
      <div class="span6">
        <!-- Social buttons, etc. -->   
      </div> <!-- /.span6 -->
      
    </div> <!-- /row -->
    
  </div> <!-- /container -->
  
</div>