{% extends "base.html" %}

{% block js %}

  {% include "index.js" %}
{% end %}

{% block body %}


<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="row">

    <div class="span11" id="header_wrapper">
  <h1 id="header" style="
    max-width: 570px;
    line-height: 58px;
"><span style=""> Save Local Highlights To <span style="font-size:1.05em;">iPhone<sup style="font-size: 11px;margin-right: -1px;top: -25px;">®</sup> Passbook<sup style="font-size: 11px;margin-right: -1px;top: -25px;">®</sup></span></span></h1>
    <p class="lead" style="max-width: 576px;
line-height: 26px;
    ">Download <a href="http://www.apple.com/ios/whats-new/#passbook" target="_blank">Passbook</a> passes that remind you about interesting activities when you are nearby and let you know when your activities are starting
   </p>
    </div>

    <div class="span6">

    </div>
  </div>
  <div class="subnav" id="subnav" style="margin-bottom:0;">
    <ul id="site-nav" class="nav nav-pills" style="">
      <li><a href="#new-and-upcoming"><i class="icon-comment"></i> &nbsp; New &amp; Upcoming</a></li>
      <li><a href="#best-drinks"><i class="icon-glass"></i> &nbsp; Best Local Drinks</a></li>
      <li style="min-width: 166px;"><a href="#date-night"><i class="icon-heart"></i> &nbsp; Date Night</a></li>
      <!--<li><a class="btn-info" id="add_pass" style="border-radius:5px;color:white;"><i class="icon-gift icon-white"></i> Add a Gift</a></li>-->
     <!-- <li><a href="#events"><i class="icon-film"></i> Entertainment</a></li> -->
    </ul>
  </div>
</header>


<div id="pass_gallery_container">

  {% include "pass/gallery.html" %}
</div>


  {% include "pass/send.html" %}

{% end %}