{% extends "base.html" %}

{% block js %}

  {% include "js/index.js" %}
{% end %}

{% block body %}


<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="row">

    <div class="span11" id="header_wrapper">
  <h1 id="header" style="
    max-width: 450px;
    line-height: 58px;
"><span style=""> Passbook Badges<br/> For Your Website</h1>

<a href="/docs" target="_blank">
  <div class="well" style="padding:5px;position: absolute;width: 448px;
height: 100px;
margin: -122px 450px;">
<h5 style="
padding-left:3px;
    color: #444;
">Add a code snippet for instant &amp; customizable Passbook badges</h5>

 <code style="font-size: 11px;margin-left:4px;
padding: 8px 4px;color:rgba(100,100,100,.8);">&lt;script  src="<span style="color:#DD4814;">http://passtiche.com/js</span>"&gt;&lt;/script&gt;</code>

<img src="/badge" style="height: 30px;margin-left: 4px;">

<h6 style="font-size:10px;">Supports Web/iOS/Android &nbsp; &#9679; &nbsp; Reminders &amp; Location-Aware Alerts &nbsp; &#9679; &nbsp; Detailed Analytics

</div>
</a>


   <p class="lead" style="
line-height: 29px;
font-size: 22px;
">
Add <a style="font-size:1.1em;">Passtiche</a> to your local listings website so visitors can save items to <a style="font-size:1.1em;" href="http://www.apple.com/ios/whats-new/#passbook" target="_blank">Passbook<sup style="font-size: 11px;margin-right: -1px;top: -13px;">®</sup></a>
</p>

    </div>


    <div class="alert alert-info" style="display:none; position: absolute;
margin: 21px 651px;
width: 236px;
height: 147px;
background: rgba(250, 250, 250, .5);
border-width: 3px;">
      Add Passes to Your Local Listings
    </div>

    <div class="span6">

    </div>
  </div>


  <div class="subnav" id="subnav" style="margin-bottom:0;">
    <ul id="site-nav" class="nav nav-pills" style="">
      <li><a href="#new-and-upcoming"><i class="icon-comment"></i> &nbsp; New &amp; Upcoming</a></li>
      <li><a href="#best-drinks"><i class="icon-glass"></i> &nbsp; Best Local Drinks</a></li>
      <li style="min-width: 166px;"><a href="#date-night"><i class="icon-heart"></i> &nbsp; Date Night</a></li>
      <!--<li><a class="btn-info" id="add_pass" style="border-radius:5px;color:white;"><i class="icon-gift icon-white"></i> Add a Gift</a></li>-->
     <!-- <li><a href="#events"><i class="icon-film"></i> Entertainment</a></li> -->
    </ul>
  </div>

    <div style="clear:both;">
    <p style="
    font-size: 14px;
    color: #666;
    padding-left: 7px;
    margin-bottom: -5px; margin-top:10px;
">  Tap any of the <a target="_blank" style="font-size:1.2em;" href="http://www.sosh.com">Sosh</a> items below to try out a live example of Passtiche badges 
</p></div>

</header>


<div id="pass_gallery_container">

  {% include "pass/gallery.html" %}
</div>


  {% include "pass/send.html" %}

{% end %}