{% extends "base.html" %}

{% block js %}

  {% include "index.js" %}
{% end %}

{% block body %}


<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="row">

    <div class="span11" id="header_wrapper">
    <h1 id="header"
    ><span style="font-size:1.05em;"><img src="/static/images/gift.png" style="
    height: 60px;width:60px;
    margin-top: -9px;
"> Pass Your Presents</span></h1>
    <p class="lead" style="
        
    ">Send <a href="http://www.apple.com/ios/whats-new/#passbook" target="_blank">iOS6 Passbook<sup style="font-size: .5em;margin-right: -1px;top:-9px;">®</sup></a> passes for gifts you are offering and gifts you want
   </p>
    </div>

    <div class="span6">

    </div>
  </div>
  <div class="subnav" id="subnav" style="margin-bottom:0;">
    <ul id="site-nav" class="nav nav-pills" style="">
      <li><a href="#popular_passes"><i class="icon-comment"></i> &nbsp; Popular Gifts</a></li>
      <li><a href="#friends_passes"><i class="icon-glass"></i> &nbsp; Gifts For Friends</a></li>
      <li><a href="#romantic_passes"><i class="icon-heart"></i> &nbsp; Romantic Gifts</a></li>
      <!--<li><a class="btn-info" id="add_pass" style="border-radius:5px;color:white;"><i class="icon-gift icon-white"></i> Add a Gift</a></li>-->
     <!-- <li><a href="#events"><i class="icon-film"></i> Entertainment</a></li> -->
    </ul>
  </div>
</header>


<div id="pass_gallery_container">

  {% include "pass/gallery.html" %}
</div>


  {% include "pass/send.html" %}

{% end %}