 <!-- Navbar
    ================================================== -->
 <div class="navbar navbar-fixed-top navbar-inverse">
   <div class="navbar-inner" style="_background:url('/static/images/xmas.png');">
     <div class="container" style="height:47px;">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a id="body_link" class="brand" href="#"><img src="/static/images/logo/logo_white_text_small.png" _style="
    background:rgba(100, 0, 0, .8);
    padding: 4px 16px;
    border-radius: 5px;
    margin-top: -10px;
"></a>
       <div class="nav-collapse" id="main-menu" style="float:right; margin-left:0px;">
<ul class="nav" id="main-menu-left" >

<li class="top"><a  id="publishers_link" href="#publishers">Publisher Platform</a></li>    

   <li class="dropdown top">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">About <b class="caret"></b></a>
    <ul class="dropdown-menu" id="swatch-menu">
      <li><a id="about_link" href="#about">About Passtiche</a></li>
      <!--<li class="divider"></li>
      <li><a id="team_link" href="/#team">Meet the Team</a></li> -->
	<!--	<li class="divider"></li>
		<li><a id="developers_link" href="#developers">Developer Platform</a></li> 	-->
    </ul>
  </li> 
    

       </div>
     </div>
   </div>
 </div>