   <div id="publishers">
      <h1 style="line-height:45px;">Enhance Your Local Listings With <i>Add to Passbook</i> Buttons</h1>
      <div style="margin-top:20px;">
		
		<h4 style="line-height:24px;">Add Passtiche for Publishers to your site or app to let your visitors save your local place or event listings to Passbook.</h4>

    
<div class="well" style="padding: 8px 17px;
margin: 25px 5px;">
		<h3 style="margin-bottom:-10px;">&nbsp; Add Passbook to Your App in Seconds:</h3>
			<ul style="margin-top:20px;margin-left:34px;">
			<li class="spaced" style="margin: 25px 0px;
list-style: none;"><h5 style="font-size:16px;"><code style="font-size: 9px;
padding: 12px 20px;color:rgba(100,100,100,.8);">&lt;script type="text/javascript"  src="http://passtiche.com/button.js"&gt;&lt;/script&gt;</code></h5></li>
      <li class="spaced"><h5 style="font-size:16px;">Add this script tag to your site and <a>use HTML links enhanced with metadata</a> to create buttons like this one:</h5></li> 

      <div style="text-align:center;margin-bottom:25px;">
        <img  style="height:40px;" src="/static/images/Add_to_Passbook_Badge_2x.png">
        <div style="
    font-size: 10px;
    text-align: left;
    margin: 15px;
"><a>Check out the documentation for implementation details</a></div>
      </div>

      <li class="spaced"><h5 style="font-size:16px;">Features built-in support for iOS, Android, and the web.</h5></li>
			<li class="spaced"><h5 style="font-size:16px;">Configure passes to automatically retrieve extra info like maps, online ratings, and links to services like OpenTable.</h5></li>
      <li class="spaced"><h5 style="font-size:16px;">Give passes a custom appearance with the Visual Editor. </h5></li>
		</ul>
  </div>
		
<div class="well" style="padding: 8px 17px;
margin: 25px 5px;">
    <h3 style="margin-bottom:-10px;">&nbsp; Engage Customers and Earn Revenue:</h3>
      <ul style="margin-top:20px;margin-left:34px;">
      <li class="spaced"><h5 style="font-size:16px;">Passes can automatically remind the owner when an event is starting soon and when they are near a location.</h5></li>      
      <li class="spaced"><h5 style="font-size:16px;">Use the Publisher Dashboard to track performance, view insights about your audience, and manage pass content.</h5></li>
      <li class="spaced"><h5 style="font-size:16px;">The Passtiche Offers Network will provide pass publishers with a new revenue stream from sponsored local offers.</h5></li>     
    </ul>
  </div>

    </div>


     <form id="developer_form" class="sign_up_form form-inline">
        <div id="before">
               <input type="text" style="font-size: 23px;
padding: 8px;
line-height: 26px;
width: 340px;" placeholder="email address" id="email"></input>
<div style="margin: 20px 0 0;" >
<span class="radio inline">I'm a</span> &nbsp; <label class="checkbox inline">
  <input type="checkbox" id="inlineCheckbox1" class="dev_type" value="merchant"> Local Business
</label>
<label class="checkbox inline">
  <input type="checkbox" id="inlineCheckbox2" class="dev_type"  value="publisher"> App Publisher
</label>
<label class="checkbox inline">
  <input type="checkbox" id="inlineCheckbox3" class="dev_type" value="other"> Other
</label>
</div>

<a class="btn btn-primary submit_email" style="
    float: right;
    margin: -66px 8px;
    font-size: 23px;
    padding: 8px 14px;
">Submit</a>
</div>
<div id="after" style="display:none;">Thanks! We'll be in touch. </div>
          </form>

</div>