
  <ul id="book_nav_list" class="nav nav-tabs" style="overflow: hidden;
margin-right:0;
text-align: center;

width: 175px;
margin-top: 151px;
border-right: 4px solid rgba(150, 150, 150, 0.15);
border-radius: 0 5px;
padding-bottom: 15px;
">
      <!-- TODO: navigation should work on reload -->
       <div id="book_title_wrapper" >

<i id="edit_icon" class="icon-edit" style="position: absolute;
margin: -1px 0 0 5px;
font-size: 25px;
color: 
#555;display:none;"></i>
<div id="book_profile_title" style="margin: -1px 0px 7px 29px;
color: #666;
font-size: 14px;
background: white;
border-radius: 10px;
border: 2px solid rgba(100, 100, 100, .2);position: absolute;padding: 2px 5px;line-height: 11px;"><i class="icon-book"></i> Book Profile</div>

<div class="book_title_link" style="cursor:pointer;padding: 13px 0 0;border-radius: 10px;-moz-border-radius: 10px;" >
<h1 style="font-size: 22px;padding-top: 12px;padding-right:6px;line-height: 27px;">{{ book.get_name(limit=31) }}</h1>

       </div></div>



<li class="bl active" style="width: 169px;
margin-left: 6px;
padding-top: 5px;position: absolute;">


<a data-toggle="tab" class="book_link book_related_link" style="-dep-min-height: 114px;
padding-top: 12px;
" href="#analytics_pane" section="audience_insights">
           <h1 style="
padding-left: 20px;
"><i class="icon-group" style="
    font-size: 25px;
    position: absolute;
    left:6px;
"></i> Audience Insights</h1>
       </a>

</li>

<div style="height: 56px;"> </div>


{% if current_user.account == "premium" %}
 <li class="bl" style="width: 169px;
margin-left: 6px;
padding-top: 5px;position: absolute;
margin-top: 1px;">
<a data-toggle="tab" class="book_link audience_insights_link" style="-dep-min-height: 114px;
padding-top: 12px;
" href="#analytics_pane" section="reader_activity">
    <h1 style="
padding-left: 17px;
"><i class="icon-bar-chart" style="
font-size: 25px;
position: absolute;
left: 6px;
"></i> &nbsp; Reader Behavior</h1>
       </a></li>
<div style="height: 56px;"> </div>
{% end %}

<li class="bl" style=
"width: 169px;
margin-left: 6px;
padding-top: 5px;position:absolute;">


<a data-toggle="tab" id="marketing_lab_link" class="marketing_lab_link book_link book_related_link" style="-dep-min-height: 114px;
padding-top: 12px;
"  href="#marketing_pane">
           <h1 style="
padding-left: 20px;
"><i class="icon-beaker" style="
    font-size: 25px;
    position: absolute;
    left:9px;
"></i> &nbsp; Marketing Lab </h1>
       </a>

</li>

<div style="height: 56px;"> </div>

<script>$(function(){
    window.Raphael||$('body').append("<script src='/static/js/raphael.js'>\x3C/script>");
    window.Morris||$('body').append("<script src='/static/js/morris.js'>\x3C/script>");
    window.worldmap||$('body').append("<script src='/static/js/world.js'>\x3C/script>");

});
</script>
       

  <li style="display:none;"><a data-toggle="tab" id="new_widget_link" href="#new_widget"></a></li>

{% if widgets %}
 {% if False %}
<div id="book_widgets" style='margin: 25px 63px 9px;
color: 
#666;
font-size: 14px;
background: 
rgba(100, 100, 100, .1);
border-radius: 10px;
border: 2px solid 
rgba(100, 100, 100, .1);
width: 82px;'>Widgets</div>
{% end %}

<div style="height: 5px;"> </div>
{% for widget in widgets %}
  <li style="width: 168px;
margin-right: 0;
margin-bottom: 5px;
padding-right: 0;
margin-top: 10px;
position: absolute;
margin-left: 8px;
clear: both;
"><a class="book_widget_link {% if is_paid %}paid{% end %} {% if active_widget and active_widget.key() == widget.key() %}activate{% end %} {% if current_user.email == 'preview@hiptype.com' %}preview{% end %}" data-toggle="tab" key="{{ widget.key() }}" {% if not is_paid %}_{% end %}href="#w_{{ widget.key() }}"><!--<img style="float: left;
width: 123px;
height: 53px;
margin-left: -6px;
max-width: none;" src="/static/images/BookClubLong.png">--><i class="{% if not widget.plugin_type %}icon-download-alt{% end %}{% if widget.plugin_type == 'video' %}icon-facetime-video{% end %}{% if widget.plugin_type == 'social_sharing' %}icon-facebook{% end %}{% if widget.plugin_type == 'newsletter_subscribe' %}icon-envelope{% end %}" style="font-size: 21px; float: left;" ></i> &nbsp; Analytics Plugin<!--{{ widget.get_name() }}--></a></li>
   <div style="height:55px;"></div>
  {% end %}
  {% end %}

    
    <!-- Help text for new widget <div style="font-size:.75em;font-style:italic;padding-top:5px;">You can download and drag your customized widget into <a style="font-weight:700;" href="http://www.apple.com/ibooks-author/gallery.html" target="_blank">iBooks Author</a></div>
        -->
  </ul> <!-- end nav tab -->
