

<div>
      <span class="label label-danger" style="font-size: 15px;
position: absolute;
margin-top: -28px;
padding: 3px 8px 4px;">Account Settings</span>
  <fieldset>

<div class="well">

   <legend>Account Code</legend>
   <p class="help-block">Your account code is <code>{{ current_user.short_code }}</code>. Add it as an attribute to your code snippet:</p>
  <pre style="background: white;
float: left;"><code>&lt;script account="<span class="atv">{{ current_user.short_code }}</span>" src="<span class="atv">http://passtiche.com/js</span>"&gt;&lt;/script&gt;</code></pre>
 <div style="height:5px;clear:both"></div> See the <a href="/docs" target="_blank">documentation</a> for more details. 

 <div style="height:20px;clear:both"></div> 

    <legend style="font-size:16px;margin-bottom:5px;">Optional: Authenticate By Domain</legend>
    <p style="color:#777;"><span style="font-size:.8em;padding:0 0 5px;">Configure the website domains where you will be using Passtiche to prevent unintended use of your account code. <br/>Specify multiple domains using commas. Example: <code>passtiche.com,costanza.co</code></span></p>
    <input type="text" style="width:350px;" placeholder="" id="domains" {% if current_user.domains %}value="{{ ",".join(current_user.domains) }}"{% end %}>





</div>


<div class="well">

    <legend>Pass Settings</legend>

<form class="form-horizontal">
  <div class="control-group">

    <label class="control-label" for="template">Default Template</label>
    <div class="controls">
          <select id="template">
            {% set default_template = current_user.preferences.get('template') %}
  <option {% if not default_template or default_template == "light"%}selected{% end %}>Light</option>
  <option {% if default_template == "dark"%}selected{% end %}>Dark</option>
  <option {% if default_template == "local"%}selected{% end %}>Local</option>
  <option {% if default_template == "metallic"%}selected{% end %}>Metallic</option>
</select>
    </div>
  </div>
  <p style="
    font-style: italic;
    font-size: 11px;
    margin: 15px 0 0;
">Local listings passes can be automatically enhanced with data from these services:</p>
<div style="margin-left: -35px;
margin-top: 3px;">
<div class="control-group" style="margin-bottom:0;">
     <label class="control-label" for="foursquare_data">Foursquare</label>
    <div class="controls">
   <input type="checkbox" id="foursquare_data" value="" {% if current_user.preferences.get('foursquare_data') %}checked{% end %}>
</div>
</div>

<div class="control-group"  style="margin-bottom:0;">
     <label class="control-label" for="yelp_data">Yelp</label>
    <div class="controls">
   <input type="checkbox" id="yelp_data" value="" {% if current_user.preferences.get('yelp_data') %}checked{% end %}>
</div>
</div>
<div class="control-group"  style="margin-bottom:0;">
     <label class="control-label" for="facebook_data">Facebook</label>
    <div class="controls">
   <input type="checkbox" id="facebook_data" value="" {% if current_user.preferences.get('facebook_data') %}checked{% end %}>
</div>
</div>
</div>
</form>





</div>

  
</fieldset>

</div>


   <div style="height:20px;clear:both"></div>
   <div> <a style="font-size:20px;margin-left:20px;" id="save_account_settings" class="btn">Save</a></div>
   