	
	<div id="basic_stats" style="position: absolute; 
	margin: -15px 0 0 17px;width:805px;">
  
{% set ranking_info = ibook_stats['ranking_info'] %}
{% set ratings_info = ibook_stats['ratings_info'] %}

<div id="itunes_stats_wrapper" style="float: left;
margin-top: 22px;
background: 
rgba(255, 255, 255, .6);
padding: 5px 0 5px 5px;
border-radius: 10px;
border: 3px solid 
rgba(100, 100, 100, .1);
width: 373px;height:154px;font-weight: bold;
margin-left:-5px;">

{% if ranking_info and ratings_info %}

<div id="stats_wrapper" style="
float: left;
width: 171px;
text-align: center;">

{% if ranking_info %}
<div id="rank_wrapper" style="
margin-top: 9px;
margin-left: 13px;
border-radius: 10px;
padding-top: 10px;
background:
rgba(100, 100, 100, .05);
border: 2px solid
rgba(100, 100, 100, .1);">
<div style="
margin-left: 37px;
"><div style="
font-size: 25px;
position: absolute;
left: 51px;
margin-top: 2px;
" class="icon-signal"></div><div style="font-size: 26px;
float: left;
margin-left: 24px;
">{% if not ranking_info['rank'] %}<span style="font-size:.8em;">N/A</span>{% else %}{{ ranking_info['rank'] }}{% end %}</div>
{% if 'direction' in ranking_info %}
<div class="colored_arrow icon-arrow-{{ ranking_info['direction'] }}" style="
float: left;
margin-left: 5px;
font-size: 17px;
"></div>{% end %}</div>
<div style="
clear: both;
font-size: 13px;
line-height: 24px;
">iBookstore™ Rank</div>
<div style="font-style:italic;font-weight: 300;margin-top: -7px;font-size: 11px;line-height: 20px;height: 20px;
overflow: hidden;">{{ ranking_info['chart_name'] }}</div>
</div>
{% end %}

{% if ratings_info %}
<div id="rating_wrapper" style="margin-top: 5px;
margin-left: 13px;
border-radius: 10px;
padding-top: 10px;
background:
rgba(100, 100, 100, .05);
border: 2px solid
rgba(100, 100, 100, .1);">
<div style="
    margin-left: 37px;
"><div class="icon-comments" style="
font-size: 21px;
position: absolute;
left: 53px;
margin-top: 2px;
"></div><div style="
font-size: 26px;
float: left;
margin-left:24px;
">{% if not ratings_info['average'] %}<span style="font-size:.8em;">N/A</span>{% else %}{{ ratings_info['average'] }}{% end %}</div> {% if 'direction' in ranking_info %}<div class="colored_arrow icon-arrow-{{ ratings_info['direction'] }}" style="
float: left;
margin-left: 5px;
font-size: 17px;
"></div>{% end %}</div>
<div style="
clear: both;
font-size: 12px;
line-height: 20px;
">Average User Rating</div>
</div>
{% end %}

</div><!-- end stats wrapper -->

<div id="rating_table_wrapper" style="float: left;
width: 182px;
font-weight: bold;
margin-top: 11px;
text-align: center;
font-size: 14px;
margin-left: 6px;">

<div>
{% include "ratings_chart.html" %}	
</div>
</div> <!-- end rating wrapper -->

{% else %}

<div style="width: 260px;
text-align: center;
margin: 50px auto 0;">Rankings and Ratings Are Not Yet Available For This Book</div>

{% end %}
		

</div> <!-- end itunes stats wrapper stats -->

{% include "personas.html" %}

</div><!-- end basic stats -->