   
<div style="
height: 39px;
margin-top: -5px;
position: absolute;
margin-left: -60px;
">
<a id="performance_overview" class="btn disabled" style=" background: rgba(200, 200, 200, .9);
color: #222;
font-size: 1.2em; float: left;
border-width: 3px; clear: both;">Performance Overview<span style="
    font-size: 0.6em;.;
    color: #555;
">&nbsp;- Where In the Book Readers Add Highlights &amp; Notes and Where They Stop Reading</span></a>
</div>
	
	{% if ibook_stats.get('data_points') %}
	

	
	
 	<table id="engagement_chart__{{ book.key() }}_data" {% if related_book %} related="true"{% end %} style="                position: absolute; display:none;
                top: 50%;
                width: 300px;
                width: 800px;">
            <tfoot>
                <tr>
                    <td>&nbsp;</td>

	{% for chapter in ibook_stats['engagement']['chart_chapters'] %}
    		<th>{{ chapter['number'] }}</th>
    {% end %}


                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <th scope="row">Activity</th>
						  {% for chapter in ibook_stats['engagement']['chart_chapters'] %}
                    		<td>
                    				{% for data_point in chapter['data_points'] %}
											<span class="{{ data_point['data_type'] }}">{{ data_point['value'] }}</span>
										{% end %}
                    		</td>
                    {% end %}
                </tr>
            </tbody>
        </table>

{% else %}
	<div style='position: absolute;
margin: 122px auto;
z-index: 1000;
text-align: center;
width: 697px;
font-size: 21px;'>A Performance Overview Is Not Yet Available For This Book</div>
{% end %}
<img src="/static/images/chart_bg.png" style="
position: absolute;
margin: 42px -44px;
width: 785px;
height: 200px;
" />
<div id="engagement_chart__{{ book.key() }}" class="engagement_chart" style="position: relative;
margin-left: -123px;
height: 204px;
margin-top: 115px;"></div>

<script type="text/javascript">
setTimeout(function(){
{% include "dots.js" %}
}, 500);

</script>