{% extends "base.html" %}

{% block css %}

/* Base class */
.bs-docs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/* Echo out a label for the example */
.bs-docs-example:after {
  content: "Learn More";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}

/* Remove spacing between an example and it's code */
.bs-docs-example + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}

{% end %}
{% block js %}

  {% comment "index.js" %}

  $('#submit_email').on('click', function(){
  // TODO: validate and ajax call
     $('#before').hide(); $('#after').show();
});
{% end %}

{% block body %}

<!-- Masthead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="row">

    <div class="span11" id="header_wrapper">
<h1 id="index_header"><div style="font-size:1.05em;line-height: 1.16em;">Real-Time &amp; Location-Based<br>PassBook<sup style="font-size: .3em;top: -27px;margin-right: -7px;">®</sup> Coupon Targeting</div></h1>
 <p class="lead" style="
    margin: 20px 0;
    width: 749px;
    text-align: center;
">Relevant <a href="http://www.apple.com/ios/whats-new/#passbook" target="_blank">Apple PassBook</a> coupons recommended when users are most likely to use them.<br>These recommendations can be shown in apps, websites and even other PassBook items.
</p>
    </div>

    <div class="span6" style="margin:0 115px">

      <form class="bs-docs-example form-inline">
        <div id="before">
               <input type="text" style="font-size: 23px;
padding: 8px;
line-height: 26px;
width: 340px;" placeholder="email address" id="email"></input>
<div style="margin: 20px 0 0;">
<span class="radio inline">I'm a</span> &nbsp; <label class="checkbox inline">
  <input type="checkbox" id="inlineCheckbox1" value="merchant"> Coupon Vendor
</label>
<label class="checkbox inline">
  <input type="checkbox" id="inlineCheckbox2" value="publisher"> App Publisher
</label>
<label class="checkbox inline">
  <input type="checkbox" id="inlineCheckbox3" value="other"> Other
</label>
</div>

<a class="btn btn-primary" id="submit_email" style="
    float: right;
    margin: -70px 12px;
    font-size: 23px;
    padding: 8px 14px;
">Submit</a>
</div>
<div id="after" style="display:none;">Thanks! We'll be in touch. </div>
          </form>


    </div>
  </div>

</header>


{% end %}