		<!-- New pass -->
{% set page = "new_pass" %}

<div data-role="page" data-theme="c" id="new_pass">

				<div data-role="header" data-position="inline"  data-theme="d" >
					<h1>Choose a Pass Template</h1>
				</div>


				<div data-role="content" style="padding-top:0;overflow:visible;">
					<form id="upload_screenshot" action="/cakepass/new">
					
					<input type="file" id="image_upload" name="image_upload" accept="image/*" style='display:none;'>


					{% include "pass_settings.html" %}

				<!--	<label for="search-mini">Search Passes:</label> -->
<div style="margin-top:20px;margin-bottom:-5px;">
	<input  type="search" name="search-mini" id="search-mini" value="" data-mini="true" />
</div>


	
			<div id="pass_list_container">
				{% include "pass_list.html" %}
			</div>


    	<!--

<br/>
<fieldset data-role="controlgroup" data-mini="false">

    	

<div data-role="fieldcontain">
    <input type="text" name="message" id="message" placeholder="Include a Message in your Pass"  />
    <div class="ui-content">
    <button disabled="true">Upload Optional Photo</button>
    </div>
    </div>
    	<div data-role="fieldcontain">
	  <label for="name">Email Address:</label>
    <input type="text" name="name" id="name" placeholder="email@address.com"  /> </div>

       


</fieldset>
-->



<br/>


			<!--	<div data-role="content" style="margin-top:-40px;">

    <a id="preview_pass" data-role="button" data-theme="b" data-icon="arrow-r" style="font-size: 1.3em;
max-width: 480px;
margin-left: 1px;">Customize &amp; Send Your Pass</a>
</div>-->



					</form>

				</div>


				{% include "footer.html" %}

</div> <!-- end page -->