

<div id="new-and-upcoming"  class="pass_container">
	<div class="offset">
<h5><i class="icon-comment"></i> &nbsp; New &amp; Upcoming</h5>
{% for pass_template in pass_templates['new-and-upcoming'] %}
	{% include "pass.html" %}
{% end %}
</div>
</div>

<div id="best-drinks" class="pass_container">
		<div class="offset">
<h5><i class="icon-glass"></i> &nbsp;  Best Local Drinks</h5>
{% for pass_template in pass_templates['best-drinks'] %}
	{% include "pass.html" %}
{% end %}
</div>
</div>

<div id="date-night"  class="pass_container">
		<div class="offset">
<h5><i class="icon-heart"></i> &nbsp;  Date Night</h5>
{% for pass_template in pass_templates['date-night'] %}
	{% include "pass.html" %}
{% end %}
</div>
</div>