

<div id="tickets"  class="pass_container">
	<div class="offset" style="margin-top:-25px;">
<!--<h5><i class="icon-comment"></i> &nbsp; New &amp; Upcoming</h5>-->
{% if linked_pass_entity %}
	{% set pass_template = linked_pass_entity %}
	{% set subtract_pass = pass_templates['tickets'].pop() %}
	{% include "pass.html" %}
{% end %}

{% for pass_template in pass_templates['tickets'] %}
	{% include "pass.html" %}
{% end %}
</div>
</div>

<div id="listings" class="pass_container">
		<div class="offset">
<h5><i class="icon-envelope-alt"></i> &nbsp;  Local Events</h5>
{% for pass_template in pass_templates['listings'] %}
	{% include "pass.html" %}
{% end %}
</div>
</div>

<div id="coupons"  class="pass_container">
		<div class="offset">
<h5><i class="icon-money"></i> &nbsp;  Coupons</h5>
{% for pass_template in pass_templates['coupons'] %}
	{% include "pass.html" %}
{% end %}
</div>
</div>