<div class="pass_item span4" name="{{ pass_template.name }}" keyname="{{ pass_template.key().name() }}" code="{{ pass_template.short_code }}">
				<div  class="thumbnail">
					<img class="pass _sprite {{ pass_template.slug }}" src="/static/images/pass/{{ pass_template.key().name() }}.jpeg"></img>

					<a style="display:block;text-decoration: none;" href="#sendPass" class="pass_name" data-toggle="modal">



				<div class="img"><h3>{{ pass_template.name }}</h3>
<h7><span class="location" style="
width: 164px;
display: block;
text-align: left;
padding-left: 10px;
padding-right: 0;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
font-size: 13px;
float: left;
padding-top: 4px;
">at {{ pass_template.location_name }}</span><span class="dates" style="
font-size: 10px;
color: #ddd;
display: block;
line-height: 16px;
text-align: right;
padding-right: 11px;
float: right;
width: 105px;
">{{ pass_template.schedule.get('date_range','') }}<div style="
    font-size: 1.2em;
    text-align: right;
    padding-right: 2px;
">$50</div></span></h7>
</div>

			</a>
					<div href="#sendPass" class="targ {% if is_mobile %}is_mobile{% end %}"></div>
					<div class="caption">
					
				
						<div class="btn-toolbar" style='margin-top:0;'>
								<div class="stats" style='display:none;'><div><i class="icon-download" title="Requests"></i> <span class="val">{{ pass_template.saves or 0 }}</span></div>
								<i class="icon-share" title="Offers"></i> 
								 <span class="val">{{ pass_template.shares or 0 }}</span>
								 <div></div></div>
							<div style="position:relative;height:37px;" class=" download_container">
								<!--<a class="btn btn-large btn-default request_pass" href="#sendPass" role="button" data-toggle="modal" ><i class="icon-download"></i> Request Gift</a>-->
								<img src="/static/images/Add_to_Passbook_Badge_2x.png" class="download_pass" style="height: 40px;
margin: -3px 9px 0px 0px;
float: left;"/>
								<a class="btn btn-large btn-info share_pass" href="#sendPass" role="button" style="font-size: 11px;
padding: 12px 5px;
float: left;
margin-top: -3px;"><i style="float: left;
margin-top: -1px;
margin-right: 4px;" class="icon-share icon-white"></i> Share</a>
							
			
							</div>
						</div>
					</div>
				</div>
			</div>