<div class="pass_item span4" name="{{ pass_template.name }}" keyname="{{ pass_template.key().name() }}" code="{{ pass_template.short_code }}">
				<div  class="thumbnail">
				
					<a style="display:block;text-decoration: none;" href="#sendPass" class="pass_name" data-toggle="modal">



				<div class="img"><h3 class="pass_title"><span>{{ pass_template.name }}</span></h3>
<div class="pass_details">

{% set display_date = pass_template.display_date() %}

<div class="location {% if len(pass_template.location_name) <= 27 %}short{% end %}">at {{ pass_template.location_name }}</div>

<div class="dates" style="
font-size: 10px;
color: #ddd;
display: block;
line-height: 16px;
text-align: right;
padding-right: 11px;
width: 280px;
">{% if display_date %} {{ display_date }}{% else %}<div style="height:4px;"></div>{% end %}<div style="
    font-size: 1.2em;
    text-align: right;
    padding-right: 2px;
">{{ pass_template.display_price() }}</div></div>


</div>
</div>

			</a>
				<img class="pass _sprite {{ pass_template.slug }}" src="/static/images/pass/{{ pass_template.key().name() }}.jpeg"></img>

<img src="/static/images/Add_to_Passbook_Badge_2x.png" class="download_pass" style="width: 100px;
height: 30px;
margin: -3px 9px 0px 0px;
position: absolute;
bottom: 8px;
left: 8px;
border: 5px solid rgba(0, 0, 0, .15);
border-radius: 5px;"/>

					<div href="#sendPass" class="targ {% if is_mobile %}is_mobile{% end %}"></div>
				
				<!--	<div class="caption">
					
				
						<div class="btn-toolbar" style='margin-top:0;'>
								<div class="stats" style='display:none;'><div><i class="icon-download" title="Requests"></i> <span class="val">{{ pass_template.saves or 0 }}</span></div>
								<i class="icon-share" title="Offers"></i> 
								 <span class="val">{{ pass_template.shares or 0 }}</span>
								 <div></div></div>
							<div style="position:relative;height:37px;padding-top: 2px;" class=" download_container">
		
								<img src="/static/images/Add_to_Passbook_Badge_2x.png" class="download_pass" style="width: 122px;height: 40px;
margin: -3px 9px 0px 0px;
float: left;"/>
								<a class="btn btn-large btn-info share_pass" href="#sendPass" role="button" style="font-size: 11px;
padding: 12px 5px;
float: left;
margin-top: -3px;"><i style="float: left;
margin-top: -1px;
margin-right: 4px;" class="icon-share icon-white"></i> Share</a>
							
			
							</div>
						</div>
					</div> -->



				</div>
				{% include "pass_details.html" %}
			</div>