{% comment "TODO: THIS REQUIRES TONS OF DATABASE CALLS!" %}
{% set loc = pass_template.get_location() %}
<div class="pass_details_container" style="display:none;">
	<div class="alert alert-info pass_details_inner">


	{% if pass_template.name %}
	<div class="field_value" style="line-height:17px;">at {{ pass_template.location_name }}</div>
	{% end %}
		<div class="clr"></div>
		<div class="field_type">{{ pass_template.display_date() }} {% if pass_template.display_date() and pass_template.display_time() %}<div style="margin-bottom:4px;"></div>{% end %}{{ pass_template.display_time() }}
		</div>
		<div class="clr"></div>
		<div class="field_type">Price: <b>{{ pass_template.display_price() }}</b></div>

		<div class="clr"></div>
		<div class="description field_type">{{ pass_template.display_description(limit=218) }}</div>
		<div class="clr" style="margin-bottom:10px;"></div>
		{% if loc.yelp %}
		<div class="field_type" style="margin-bottom:0px;"><a  href="{{ loc.yelp }}" target="_blank">Reviews on Yelp</a></div>
		{% end %}
		{% if loc.website %}
		<div class="field_type" style="margin-bottom:0px;"><a href="{{ loc.website }}" target="_blank">Venue Website</a></div>
		{% end %}		
		{% if loc.street_address %}
		<div class="field_type"><a href="http://maps.google.com/?q={{ loc.street_address }}" target="_blank">Map &amp; Directions</a></div>
		{% end %}	

	</div>
</div>