{% extends "../base.html" %}

{% block js %}

{% if msg == 'dl' %}
	window.location.href = '{{ dl_redirect_url }}';
{% end %}
{% end %}

{% block body %}
<h1>Pass: {{ action }} for {{ pass_template.name }} {% if theme %}(theme: {{ theme }}){% end %}</h1>

{% if msg == 'dl' %}
<h2>Now downloading this pass...</h2>
{% end %}

{% if msg == 'iOS6' %}
<h2>
This link is for installing passes onto an Apple iOS6 device
Please return using an iPhone or iPod touch running iOS6, or using Safari on Mac OS X 10.8.2 or higher.</h2>
{% end %}


{% if msg == 'upgrade_iOS6' %}
<h2>This device needs to upgrade to iOS 6. Instructions...</h2>
{% end %}

<h3>Email link to download on my iPhone, iPad, or iPod running iOS6</h3>

<div>
	<a href="{{ dl_url }}" class="btn">download PKPass file</a>
</div>
{% end %}