<!-- Modal -->
<div class="modal" style="display:none;" id="sendPass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"> 
      <div class="btn-group" id="pass_action_choices" data-toggle="buttons-radio" style="margin-right: 10px;float:left;">
  <button type="button" id="Offer" class="btn">Offer</button>
  <button type="button" id="Request" class="btn">Request</button>
</div>

<span class="pass_action" style="color:#888; font-size:.7em;"></span> &nbsp; <span class="pass_template"></span> 
   </h3>
  </div>
<div class="modal-body">
<div><div class="cl leftspan" >
  
  <img src="" id="pass_preview">

  <form id="pass_theme" class="alert">
      <div class="control-group" style='' id="inputThemes">

      <label class="radio" class="active">
        <input type="radio" name="themeRadios" id="inputTheme" value="original" checked>
       No Theme
      </label>

      <label class="radio">
        <input type="radio" name="themeRadios" id="inputTheme" theme-id="c" value="christmas">
        Christmas
      </label>
      <label class="radio">
        <input type="radio" name="themeRadios" id="inputTheme" theme-id="b" value="birthday">
       Birthday
      </label>
      <label class="radio">
        <input type="radio" name="themeRadios" id="inputTheme" theme-id="r" value="romance">
      Romance
      </label>

</div>

  </form>


</div>

<div class="cl rightspan">

      <div id="name_form">

    <div class="control-group">

    <label style="font-size: 19px;" for="inputName">Your Name: </label>
    <div class="controls" style="margin: 10px 0;">
      <input type="text" id="inputName" placeholder="" style="font-size: 25px;
height: 27px;
width: 300px;
padding: 6px;" >
    </div>
  </div>


    <button data-loading-text="Loading..." id="continue_btn" class="continue btn btn-info" style="font-size: 25px;
padding: 10px;
float: left;">Continue</button>



      </div>

      <div id="send_form" style="display:none;">
          {% include "send_form.html" %}
        </div>

</div>



</div>
</div>
  <div class="modal-footer">

  </div>
</div>