

<div class="well" style="margin: 5px 20px;padding: 15px 15px 10px;">
	
	 <blockquote style="color:#666; padding:10px 10px 0;">
	     {% raw annotation.html() %} 
	     
	 <i style="font-size:.8em;">(Chapter {{ annotation.chapter or 0 }})</i>
	</blockquote>
	 
{% if annotation.note  %}
<div style="padding:5px 15px;margin: 8px;height: 35px;"> <span style="
font-weight: bold;
font-size: 18px;
padding: 4px 12px;
border-radius: 4px;
background: rgba(255, 255, 255, 1);
border: 1px solid rgba(40, 40, 40, .25);
margin-left: 8px;
float: left;
"><i style="color: #777;padding-right:10px;"><i class="icon-comment-alt" style="
    font-size: 27px;
padding-right:3px;
    float: left;
    margin-top: 6px;
"></i> <span style="font-size:10px; "> note</span></i> {{ annotation.note }}</span></div> {% end %}


	<div style="font-size:.8em; font-style:italic;margin: 16px 5px 0;">posted {{ annotation.time_since(attr='date') }}</div>
	{% set status = 'test' %}
	<div id="highlight_social" style="
    margin: -36px 0 0 113px;
float: right;
">	{% include "../utils/social.html" %}
</div>
</div>
