<div class="edit_book edit_form" {% if book %}id="{{ book.key() }}"{% end %}>
			
			<!-- <a id="upload_iba" class="btn btn-primary btn-large" data-loading-text="Loading...">Upload iBooks Author Document</a>
			<p style="margin: 12px 0;
font-size: 14px;
color: #777;" class="help-text">Upload your .iba file to automate the book creation process</p> -->
			
	<div class="book_info">

				<div class="control-group" style="padding-top:20px;">
		            <label class="control-label" for="book_name">Book Name</label>
		            <div class="controls">
		              <input type="text" id="book_name" style="width: 400px;" class="{% if not book or not book.name %}placeholder{% end %} input-xlarge" value="{% if book and book.name %}{{ book.name }}{% end %}">
		              <!--<p class="help-block">Put help text here...</p>-->
		            	</div>
		     </div>
		     
		

	

	
		 <div class="control-group" style="margin:20px 0 30px;">
	<label class="control-label" for="book_name">Book Settings</label>
        <div class="controls" style="margin:10px 0;">
         <div class="btn-group" id="book_status" style="margin-top:10px;">
										    <a id="unpublished" class="{% if not book or not book.published %}active{% end %} btn">Not Published</a>
										<a id="published" class="{% if book and book.published %}active{% end %} btn">Published</a>
				            	</div>
            	
        </div>
 </div>

		 <div id="book_platforms_control" class="control-group" style="margin:-15px 15px 20px;{% if not book or not book.published %}display:none;{% end %}">
		
        <!--<label class="control-label" for="book_status">Status &nbsp;</label>-->
        <div class="controls" style="margin:10px 0;">
         <div class="btn-group" id="book_platforms" style="margin-top:10px; font-size:.8em;">
										    <a id="kindle" style="font-size: .8em;
padding: 2px 5px;" class="{% if book and book.on_kindle %}active{% end %} btn">Published for Kindle</a>
										<a id="ibooks" style="font-size: .8em;
padding: 2px 5px;" class="{% if book and book.on_ibooks %}active{% end %} btn">Published for iBooks</a>
										<a id="nook" style="font-size: .8em;
padding: 2px 5px;" class="{% if book and book.on_nook %}active{% end %} btn">Published for Nook</a>
<a id="other" style="font-size: .8em;
padding: 2px 5px;" class="{% if book and book.on_other %}active{% end %} btn">Published for Other Platforms</a>
				            	</div>
            	
        </div>
 </div>


	 <div id="example_data_control" class="control-group" style="margin:0 0 30px;{% if not book and not debug %}display:none;{% end %}">
        <!--<label class="control-label" for="book_status">Status &nbsp;</label>-->
        <div class="controls" style="margin:10px 0;">
         <div class="btn-group" id="example_data" style="margin-top:10px;">
										    <a id="disabled"  style="font-size: .8em;
padding: 2px 5px;" class="{% if not book or not book.example_data %}active{% end %} btn">Disable Example Data</a>
										<a id="enabled" style="font-size: .8em;
padding: 2px 5px;" class="{% if book and book.example_data %}active{% end %} btn">Enable Example Data</a>
<a id="enabled2" style="font-size: .8em;
padding: 2px 5px;" class="{% if book and book.example_data2 %}active{% end %} btn">Enable Example 2</a>
<a id="enabled3" style="font-size: .8em;
padding: 2px 5px;" class="{% if book and book.example_data3 %}active{% end %} btn">Enable Example 3</a>
				            	</div>
            	
        </div>
 </div>

	
		 <div class="control-group" style="margin:10px 0; padding: 10px 0;display:none;">
        <label class="control-label" for="book_description">Book Description &nbsp; <span style="font-size:.8em;color:#AAA;">optional</span></label>
        <div class="controls" style="margin:10px 0;">
            	<textarea style="width: 400px;
min-height: 08px;
font-size: 26px;
line-height: 35px;" id="book_description">{% if book and book.description %}{{ book.description }}{% end %}</textarea>
            	
        </div>
 </div>





		     

 

    {% if book %}
<div id="book_thumbnail" style="margin: 0 20px;">
{% if book.thumbnail_key or ibook.img_url %}
	<div class="control-group" style="padding-top:20px;">
		            <label class="control-label" for="book_name">Book Image</label>
		            <div class="controls">
		            <img src="{{ book.thumbnail_url() }}" style="border-radius:5px;-moz-border-radius:5px;height: 141px;
width: 117px;"> 
						</div>
		     </div>
		
{% end %}

	<div class="control-group"  style="padding-top:20px;">
	            <label class="control-label" for="book_thumbnail_upload">Upload Book Thumbnail &nbsp; <span style="font-size:.8em;color:#AAA;">optional</span></label>
	            <div class="controls" style="padding-top:5px;">
	             	<input type="file" multiple id="book_thumbnail_upload">
	            </div>
	     </div>
</div>
{% if False %}
				<div class="control-group" style="padding-top:20px;">
		            <label class="control-label" for="twitter">Twitter Handle  &nbsp; <span style="font-size:.8em;color:#AAA;">optional</span></label>
		            <div class="controls">
		               <span style='font-size: 31px;padding-right: 5px;font-family: "Helvetica Neue",Helvetica,sans-serif;font-weight:bold;'>@</span><input type="text" id="twitter" style="width: 200px;" class="input" value="{% if book and book.twitter %}{{ book.twitter }}{% end %}">
		           
		            	</div>
		     </div>
		
<!-- TODO: Sign into Facebook, select one of your pages (same with G+) -->
				<div class="control-group" style="padding-top:20px;">
		            <label class="control-label" for="fb_url">Facebook Page  &nbsp; <span style="font-size:.8em;color:#AAA;">optional</span></label>
		            <div class="controls">
		              <input type="text" id="fb_url" style="width: 400px;" class="input" value="{% if book and book.fb_url %}{{ book.fb_url }}{% end %}">
		              <!--<p class="help-block">Put help text here...</p>-->
		            	</div>
		     </div>
		
				
<!-- TODO: Use search to find the book on iTunes from the name, authenticate? -->		
				<div class="control-group" style="padding-top:20px;">
		            <label class="control-label" for="book_url">Website or iTunes Page  &nbsp; <span style="font-size:.8em;color:#AAA;">optional</span></label>
		            <div class="controls">
		              <input type="text" id="book_url" style="width: 400px;" class="input" value="{% if book and book.url %}{{ book.url }}{% end %}">
		              <!--<p class="help-block">Put help text here...</p>-->
		            	</div>
		     </div>

	{% end %}
			
	{% end %}
</div><!-- end book_info -->
			

    <a id="save_book" style="float:left;" class="btn btn-large btn-primary" data-loading-text="Loading...">{% if book %}Save{% else %}Continue{% end %} &nbsp;<span class="icon-chevron-right"></span></a>	


    {% if book %}
    	<a id="delete_book" style="margin-top: 15px;float: left;color: #999;clear: both;" class="btn btn-mini" data-loading-text="Loading..."><span class="icon-trash"></span> Delete Book</a>
    	
    {% end %}
</div>		