
{% if not related_book %}


	<div id="current_reader_wrapper" class="alert alert-warning" style="margin: 10px;
clear: both;
float: none;
display:none;
width: 650px;
min-height: 49px;"><label class="control-label" style="padding-left: 20px;
padding-top: 10px;float:left;
margin-bottom: 0;">Current Readers</label>
		<div id="current_readers" style="clear: both;
margin: 35px 0 10px 20px;"></div>
	</div>

{% end %}

<!-- TODO: refactor to use BookActivity backend class -->

<div id="audience_activity_panel" class="widget_activity" style="width:800px;">
    
        {% include "analytics/audience_activity.html" %}
</div>

<div id="activity_details_wrapper" style="margin-top:-40px;">
	{% include "activity_details.html" %}
</div>
