{% set video_id = "temporary" %}


{% set ibook = book.get_ibook() %}


{% set ibook_stats = ibook.stats_info() %}


{% set reading_trends = ibook.reading_trends() %}


 {% set related_book = False %}

<div class="book_profile_inner" id="{{ book.key() }}" token="{{ token }}">
    {% set widgets = book_widgets %}

<div id="book_nav" class="tabbable tabs-left" style=''>
	
	{% include "book_nav.html" %}
  
  
  <div class="tab-content" id="book_profile_content" style="margin-left: 190px;">
      
    <div class="tab-pane book_pane" id="book_details" style="float:left;padding-left:20px;">

     <div style="
height: 39px;
margin-left: -2px;
">
<a class="btn disabled" style=" background: rgba(200, 200, 200, .9);
color: #222;
font-size: 1.2em; float: left;
border-width: 3px; clear: both;">Book Details</a>
</div>
 {% include "../edit_book.html" %}

       </div>

<div class="book_pane tab-pane active" id="analytics_pane" style="float:left;padding-left:20px;">


	{% include "../book_header.html" %}
	
	
<div style="float:left;" class="tab-panel active" id="audience_insights">
           
            {% include "../audience_insights.html" %}
        
    </div>  
	
		{% if current_user.account == "premium" %}
		    <div class="tab-panel" id="reader_activity" >         
		 			{% include "../reader_activity.html" %}
		    </div>
 	  {% end %}

    
</div>


<div class="tab-pane book_pane"  id="marketing_pane" style="padding: 0 35px;">

            {% include "../marketing_lab.html" %}
</div>
           
           
    

 {% for widget in widgets %}
    {% include "../widget_tabs.html" %}    
  {% end %}
  
     
     
    
    
      <div class="tab-pane widget_tab" id="new_widget" style="margin-left:-190px;">
  	{% set widget = None %}
		{% include "../../widget/edit_inner.html" %}
	
    </div>  

  
    
  </div> <!-- end book tab content -->
  
</div><!-- end book nav -->

</div><!-- end book profile inner-->



{% include "../../account/payment.html" %}

