{% extends "../base.html" %}

{% block js %}

$('a.download_book').click(function(){
	    mixpanel.track('Downloading Book', {
		'title': '{{ book.get_name() }}',
	   'user_agent': '{{ user_agent }}'
	});
});
$('#book_preview').click(function(){
	window.location.href = $(this).attr('href');
});
 
{% end %}

{% block css %}

{% end %}

{% block main %}

{% set b = book.get_ibook() %}
{% set widget_thumbnail = book.widget_thumbnail_url() %}
{% if book.name and book.name.startswith('Steve Carell') %}
{% set widget_thumbnail = "/static/images/dailyshow.png" %}
{% end %}
{% if book.name and book.name.startswith('Make Something') %}
{% set widget_thumbnail = "/static/images/dailyshow.png" %}
{% end %}

<div id="public_profile" title="{{ book.get_name() }}"  style="text-align:center;">
	
	
	<a class="download_book" href="/static/books/{{ book.get_name().replace(' ','') }}.ibooks" class="btn btn-large btn-primary" style="font-size: 30px;
margin: 50px 221px;
display: block;
line-height: 45px;
width: 780px;">
	Download <i style="color:#6F8D94;">{{ book.get_name() }}</i> for iPad
<img src='{{ book.thumbnail_url() }}' style='width: 320px;
height: 420px;
margin: 20px;'/>
{% if False %}
	{% if widget_thumbnail %}
	<div style="margin-left:183px;">
		<div style="font-size: 17px;
width: 300px;
line-height: 25px;
margin: 9px auto;">View <span style="color:#6F8D94;">Book Club</span> in this book by finding and tapping this image:</div>
		<img style="height: 181px;
width: 266px;" src="{{ widget_thumbnail }}"/>
	</div>
	{% end %}
	

</a>

	<div id="book_preview" class="download_book" style="cursor:pointer;float: left;
margin: -269px 255px;" href="/static/books/{{ book.get_name().replace(' ','') }}.ibooks">
	
	{% include "../../widget/server/frame/bookclub/book.html" %}
</div>
{% end %}

</div>

{% end %}