Ever wonder why it's so hard getting investors to fund your idea?

In almost all cases, it's not because your idea sucks. It's because you don't know how to talk to investors.

Having trouble growing your customer base?

Same thing. It's not a problem with your idea. You just need to know the right techniques for getting people excited about your product.

That's where Brad Feld (co-founder of the Foundry Group) comes in. He has a new book, and it's all about how you can start solving your biggest problems today. It has all the best insights from his massively popular entrepreneurship blog, Feld Thoughts.

The book is called Burning Entrepreneur because it teaches you how to set your startup on fire!

Burning Entrepreneur will teach you how to:
Raise your first round of funding (and every round after that)
Hone your product into something people can't live without
Make customers fall in love with your business
Become the leader your startup needs
...and much more!

Brad Feld knows his stuff.

He has over 20 years of experience as an early stage investor.

Here’s a list of what he’s founded/co-founded:
Foundry Group
Mobius Venture Capital
Intensity Ventures
TechStars

He also currently serves on the board of directors for BigDoor, Cheezburger Networks (the company responsible for everything funny on the internet), Fitbit, Gnip, MakerBot, Oblong, and a bunch of others. 

He makes companies succeed for a living, and you can get all of his best advice right now for $2.99, but you’ll only get that low price during the next 48 hours. For less than the price of a bag of chips, you can learn how to make your startup kick ass!

Here’s how to get the book:
1.) Click here to go to the book page
2.) Click “Add to Cart” then “Checkout”
3.) Fill out your purchase information and submit
4.) You can now download the book (PDF, EPUB, and MOBI)

You can redownload anytime you want.

Congrats! Start reading!

Sincerely,
Brandon from Hyperink

P.S. Let us know what you think by commenting on our Hacker News post.

P.P.S. If you comment on our post, let me know (brandon@hyperinkpress.com). In return, I’ll send you a special bonus book that will teach you HOW NOT TO GET SCREWED when starting your business.
Copyright © 2012 Hyperink, All rights reserved. 
You are receiving this email because you have previously expressed interest in Hyperink. 
Our mailing address is: 
Hyperink
333 Bryant St
Suite 330
San Francisco, CA 94107

Add us to your address book
 unsubscribe from this list | update subscription preferences 

