
	<!-- TODO: section for each type of feed (different items for each) -->
	
		<div class="btn-group" id="twitter_feed_type" style="font-size: 18px;
								padding: 10px;
								width: auto;
								clear: both;
								float: none;margin-top:30px;">
								
								<!-- TODO: refactor this for multiple items -->
								
								          <a id="profile"   class="{% if not widget or (widget and widget.twitter_feed_type == "profile") %}active{% end %} btn"><span class="iconic rss"></span> Twitter Profile</a>
								   <a id="search" class=" {% if widget and widget.twitter_feed_type == "search" %}active{% end %} btn"><span class="iconic magnifying_glass"></span> Twitter Search</a>
								    <a id="custom_social_media" style="background: #E6E6E6; color: #777;" class="{% if widget and widget.twitter_feed_type == "custom" %}active{% end %} btn"><span class="iconic info"></span> <i style="font-size:11px;">Coming Soon: More Social Media Options</i></a>
								            
				            	</div>
				            	
				            	

<div id="twitter_feed_controls">
	
  <div class="controls" id="profile" style="margin-top:15px; {% if widget and (widget.twitter_feed_type != "profile") %}display:none;{% end %}">
      <label class="control-label" for="input01"><span id="feed_name">Twitter</span> Profile</label>
		              <span style='font-size: 31px;padding-right: 5px;font-family: "Helvetica Neue",Helvetica,sans-serif;font-weight:bold;'>@</span><input type="text" id="widget_feed_search"  placeholder="" class="placeholder input-xlarge" {% if widget and widget.feed_search %}value="{{ widget.feed_search }}"{% end %}>
		             
		            </div>

  <div class="controls" id="search" style="margin-top:15px; {% if not widget or (widget.twitter_feed_type != "search") %}display:none;{% end %}">
      <label class="control-label" for="input01"><span id="feed_name"> Twitter</span> Search</label>
		             <span class="iconic magnifying_glass" style="font-size:30px;"></span>&nbsp; <input type="text" id="widget_feed_search" style="font-size: 1.3em;
						padding: 20px 10px;font-size: 30px;
						width: 400px;" placeholder="" class="placeholder input-xlarge" {% if widget and widget.feed_search %}value="{{ widget.feed_search }}"{% end %}>
		             
		            </div>

					<div id="twitter_feed_preview" style="padding: 10px 0;
margin: 0 0px 10px;
max-width: 493px;">
						<a id="preview_btn" class="btn btn-primary" style="display:none;margin:0 0 10px;">Preview Results</a>
						<div id="twitter_script_wrapper"></div>
						<div id="twitter_preview_wrapper_{% if widget %}{{ widget.key() }}_{{ media_option or "" }}{% else %}new{% end %}" style="margin:10px; padding:5px;">
						</div>
					</div>		
</div>
