
<div id="personas_info_wrapper" style="float: left;
margin-top: 22px;
background: rgba(255, 255, 255, .6);
padding: 5px 0 5px 12px;
border-radius: 10px;
border: 3px solid rgba(100, 100, 100, .1);
width: 373px;
height: 154px;
margin-left: 18px;
text-align: center;
font-size: 12px;
line-height: 21px;">
<div style="clear: both;
width: 100%;
height: 39px;">
<a id="personas_header" class="btn disabled" style="background: rgba(200, 200, 200, .9);
color: #222;
font-size: 14px;
float: left;
border-width: 3px;
clear: both;
padding: 0px 10px;
margin: 6px 0 6px 102px;">Audience Personas</a>
</div>

       {% if ibook_stats['personas'] %}
            {% for persona, percent in ibook_stats['personas'] %}
                <div class="persona">{{ persona }} - <i>{{ percent }}%</i></div>
            {% end %}
       {% else %}
       <div style="text-align: center;
margin-top: 32px;
font-size: 12px;
margin-left: -14px;">Audience Personas Are Not Yet Available For This Book</div>
       {% end %}
</div>