
<div id="versions_info_wrapper" style="float: left;
margin-top: 22px;
background:
rgba(255, 255, 255, .6);
padding: 5px 0 5px 12px;
border-radius: 10px;
border: 3px solid
rgba(100, 100, 100, .1);
width: 360px;height: 154px;margin-left: 18px;font-size: 12px;
text-align: center;
line-height: 24px;
">

<div style="clear: both;
width: 100%;
height: 48px;">
<a id="versions_header" class="btn disabled" style="background: rgba(200, 200, 200, .9);
color: #222;
font-size: 14px;
float: left;
border-width: 3px;
clear: both;
padding: 0px 10px;
margin:12px 0 6px 81px;">Recent Updates to Book</a>
</div>


       {% if ibook_stats['versions'] %}
            {% for version, days_ago in ibook_stats['versions'] %}
                <div class="version">{{ version }} - <i>{{ days_ago }} Days Ago</i></div>
            {% end %}
       {% else %}
       <div style="text-align: center;
margin-top: 32px;
font-size: 12px;
margin-left: -14px;">This Book Has No Recent Updates</div>
       {% end %}
</div>