
{% extends "../base.html" %}
{% block head %}
	<link rel="stylesheet" href="/static/css/cms/font-awesome.css">
	<link rel="stylesheet" href="/static/css/cms/application.css">
{% end %}
{% block js %}
$(function () {

	jQuery.support.placeholder = false;
	test = document.createElement('input');
	if('placeholder' in test) jQuery.support.placeholder = true;

	if (!$.support.placeholder) {

		$('.field').find ('label').show ();

	}

	$('#submit_signup').on('click', function(){

	var signup_form = $(this).parents('form');
	// validate 
	var email = signup_form.find('#email').val();
	var pwd = signup_form.find('#password').val();
	var confirm_pwd = signup_form.find('#confirm_password').val();
	var terms_agree = signup_form.find('#terms_agree:checked');
	if (email.indexOf('@') < 1)
		return showDialog("a valid email address is required");


	if (pwd.length < 4)
		return showDialog("password must be at least 4 characters");		

	if (pwd != confirm_pwd)
		return showDialog("passwords do not match");

	if (terms_agree.length < 1)
		return showDialog("You must agree to the terms");



	signup_form.submit();

	});

});
{% end %}

{% block body %}



<!-- Text Under Box -->
<div class="login-extra" style="margin-top:0">
	Already have an account? <a href="/login">Login</a>
</div> <!-- /login-extra -->


<div class="account-container register stacked " style="width:460px;">
	

	<div class="content clearfix">
		
		<form action="/signup" method="post" class="form-horizontal">
		
			<h1>Create Your Account</h1>		


			{% if error %}
			<div class="alert alert-error">
				{{ error }}
			</div>
			{% end %}

			

			<div class="login-social" style="display:none;">
				<p>Sign in using social network:</p>
				
			
				<div class="twitter">
					<a  class="not_available btn_1">Login with Twitter</a>				
				</div>
				
				<div class="fb">
					<a class="not_available btn_2">Login with Facebook</a>				
				</div>
			</div>
			
			<div class="signup-fields">
				
		
<fieldset style="margin-left: -33px;
margin-top: 25px;">                      

  <div class="control-group field-organization">           
   <label class="control-label" for="organization">Organization</label>            <div class="controls">              <div class="input-xlarge"><input id="organization" name="organization" type="text"></div>  <div class="help-block"></div>            </div>          </div>

	<div class="control-group field-first_name">            
		<label class="control-label" for="first_name">First Name</label>            
		<div class="controls">              
			<div class="input-xlarge"><input id="first_name" name="first_name" type="text"></div>  <div class="help-block"></div>            </div>          </div>

	<div class="control-group field-last_name">            
		<label class="control-label" for="last_name">Last Name</label>           
		 <div class="controls">              
		 	<div class="input-xlarge"><input id="last_name" name="last_name" type="text"></div>  <div class="help-block"></div>            </div>          </div>

	<div class="control-group field-phone">           
	 <label class="control-label" for="phone">Phone</label>            
	 <div class="controls">              
	 	<div class="input-xlarge"><input id="phone" name="phone" type="tel"></div>  <div class="help-block"></div>            </div>
	           </div>
<div style="margin: 0 20px;"><hr></div>

	<div class="control-group field-email">            
		<label class="control-label" for="email">Email*</label>           
		 <div class="controls">             
		  <div class="input-xlarge"><input id="email" name="email" type="email"></div>  <div class="help-block"></div>            </div>          </div>	 	


	<div class="control-group field-password">            
		<label class="control-label" for="password">Password*</label>            
		<div class="controls">              
			<div class="input-xlarge"><input id="password" name="password" type="password"></div>  <div class="help-block"></div>            </div>          </div>


	<div class="control-group field-confirm_password">            
		<label class="control-label" for="confirm_password">Confirm Password*</label>            
		<div class="controls">              
			<div class="input-xlarge"><input id="confirm_password" name="confirm_password" type="password"></div>  <div class="help-block"></div>            </div>          </div> 

	         </fieldset>



			</div> <!-- /login-fields -->
			
			<div class="login-actions" style="margin-top:5px;">
				
				<span class="login-checkbox">
					<p>*required</p>
					<input id="terms_agree" checked name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
					<label class="choice" for="Field">I have read and agree with the <a href="/terms">Terms of Use.</label>
				</span>
									
				<a id="submit_signup" class="button btn btn-primary btn-large">Register</a>
				
			</div> <!-- .actions -->
			
		</form>
		
	</div> <!-- /content -->
	
</div> <!-- /account-container -->





{% end %}