
<div class="modal hide" id="paymentModal" style="margin-top:-215px;">
  <div class="modal-header" style="background: rgba(200, 200, 200, .4);">
    <button type="button" class="close" data-dismiss="modal" style="margin: -8px;
border: none;
background: none;">×</button>
    <h3>Activate Your Hiptype Account</h3>
  </div>
  <div class="modal-body">

<div id="analytics_payment">

    <div class="alert alert-warning" style="width: 423px;
font-size: 12px;
text-align: center;
line-height: 21px;">
The Hiptype analytics plugin captures data when your book is read.
<div style="
width:350px; text-align:center;
    font-size: 15px;
    margin: 6px auto 0;
    font-style: italic;
    line-height: 19px;
">You will not be charged until you select a <a href="/#pricing" target="_blank" style="font-size:1.1em;">pricing plan</a> and activate your plugin.</div></div>
</div>


	<div id="credit_card" style="padding-bottom:0;">
	
				<div style="margin:0;padding:0;display:inline">
				<input name="utf8" type="hidden" value="✓">
				<input type="hidden" name="user" id="user" value=""/>
					<input type="hidden" name="token" id="token" value=""/>
					</div>
				

			        <div id="stripe" class="clearfix">
			          <h4>Add a Credit Card</h4>
			          <img src="/static/images/generic_card.png" id="card_icon" class="flipped">
			        </div>

			        <p style="margin-bottom:-5px;"><label for="cc_number">Card Number</label> <input type="text" placeholder="4242 4242 4242 4242" id="cc_number" _name="cc_number" maxlength="19" class="numeric-spaces" style="background-image: none; background-position: 0% 0%; background-repeat: repeat repeat; "></p>

			        <p id="cv_code_p"><label for="cvc_code">CV Code</label> <input type="text" placeholder="123" id="cvc_code" _name="cvc" maxlength="4" class="numeric"></p>

			        <p id="expiry_date_p">
			          <label for="expiry_month">Expiry Date</label><input type="text" placeholder="MM" id="expiry_month" _name="expiry_month" maxlength="2" class="numeric"> <input type="text" placeholder="YY" id="expiry_year" _name="expiry_year" maxlength="2" class="numeric"></p> 

		
	</div>
	
	<div style="margin-left: 15px;
clear: both; 
padding-top: 4px;
margin-bottom: -11px;">
    <input id="prefer_billing" type="checkbox"/> &nbsp; I prefer to be sent an invoice</a>
</div>

	</div>
	

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" style="font-size:.8em;float:left;">Cancel</a>
    <a href="#" class="btn btn-primary" id="save_cc" >Save</a>
  </div>


  </div>
	
	